@function vw($px) {
  @return $px / 19.2 + vw
}
@function vwM($px) {
  @return $px / 3.2 + vw
}
@import "animate";
@import "jquery.fancybox.min";


$osn-col: #f1a31c;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $osn-col;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: $osn-col;
}

input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: transparent;
}
input:focus::-moz-placeholder { /* Firefox 19+ */
  color: transparent;
}
input:focus:-ms-input-placeholder { /* IE 10+ */
  color: transparent;
}
input:focus:-moz-placeholder { /* Firefox 18- */
  color: transparent;
}

a, a:focus, button, button:focus, input, input:focus, textarea, textarea:focus {
  outline: 0 !important;
}

:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
}

select, select:focus {
  outline: 0 !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

p {
  line-height: 100%;
  white-space: pre-line;
  font-size: vw(22);
}

a:focus, a:hover {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-size: vw(18);

}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transition-delay: .5s;
}

.footer_head {
  .container {
    border-top: 1px solid #e7e7e7;
  }
}

.img_box1, .img_box2, .img_box3, .img_box4, .img_box5 {
  position: absolute;
}

.header_head, .footer_head {
  width : 100%;
  .container {
    justify-content : space-between;
    display: flex;
    align-items: center;
    padding: vw(20) 0 vw(20);
    .logo {
      align-items: center;
      display: flex;
      .box {
        box-shadow: none;
        width: vw(59);
        height: vw(58);
        border-radius: vw(6);
        background-color: rgb(241, 163, 28);
        display: flex;
        justify-content : center;
        align-items: center;
        margin-right : vw(15);
        img {
          width : vw(28);
        }
      }
      .logo_p {
        picture {
          img {
            width : vw(242);
          }
        }
        p {
          font-size : vw(18);
          font-family: "CirceRegular";
        }
      }
    }
    .phone {
      display: flex;
      align-items: center;
      .number {
        display: flex;
        flex-direction: column;
        line-height: vw(26);
        .tel {
          font-size : vw(26);
          font-family: 'CirceExtraBold';
        }
        span {
          font-size : vw(18);
          font-family: 'CirceRegular';
          color: #a1a1a1;
        }
      }
    }
    .time {
      display: flex;
      align-items: center;
      .text {
        line-height: vw(26);
        p {
          font-size : vw(26);
          font-family: 'CirceExtraBold';
        }
        span {
          font-size : vw(18);
          font-family: 'CirceRegular';
          color: #a1a1a1;
        }
      }
    }
    .registration {
      display: flex;
      .button {
        margin-right : vw(15);
        height: vw(45);
      }
      .UA {
        display: flex;
        justify-content : center;
        align-items: center;
        width: vw(45);
        height: vw(45);
        border-radius: vw(6);
        background-color: rgb(220, 220, 220);
        span {
          font-family: 'CirceRegular';
          font-size : vw(16);
          text-transform : uppercase;
        }
      }
    }
    .burger_menu {
      display: none;
    }
  }
}

.header_nav, .footer_nav {
  position: relative;
  width : 100%;
  background: #725030;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav {
      .menu {
        display: flex;
        li {
          a {
            font-family: 'CirceBold';
            color: #fff;
            display: flex;
            padding: vw(15) vw(25);
            cursor: pointer;
            transition: all 0.5s;
            &:hover {
              background: #fff;
              color: #000;
            }
          }
        }
      }
    }
    .basket {
      position: relative;
      .button.main {
        text-transform: uppercase;
        position: relative;
        background: none;
        border-color: $osn-col;
        transition: background-color .5s;
        svg {
          fill: $osn-col;
        }
        span {
          color: $osn-col;
          transition: all 0s;
          font-family: "CirceExtraBold";
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .line {
          height: vw(12);
          width: 1px;
          background: #fff;
          margin: 0 vw(5);
          display: flex;
        }
        &:hover {
          background: $osn-col;
          color: #fff;
          svg {
            fill: #fff;
            filter: none;
          }
          span {
            color: #fff;
          }
        }
      }
      .item-holder {
        position: absolute;
        top: calc(100% + #{vw(15)});
        right: 0;
        width: vw(400);
        background: #fff;
        border-radius: vw(10);
        min-height: vw(60);
        box-shadow: rgba(0, 0, 0, 0.12) 0 vw(3) vw(25);
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &:before {
          content: '';
          position: absolute;
          right: vw(20);
          bottom: 100%;
          border: vw(10) solid transparent;
          border-top-width: 0;
          border-bottom-color: #fff;
          transition: opacity 0.5s;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 100%;
          width: 100%;
          right: 0;
          height: vw(15);
        }
        .holderItem {
          max-height: 60vh;
          overflow: auto;
          width: 100%;
        }
        .item {
          display: flex;
          align-items: stretch;
          justify-content: center;
          padding: vw(20) 0;
          color: #000;
          background: #fff;
          border-radius: vw(10);
          z-index: -1;
          width: 100%;
          &.empty {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
          }
          .img {
            min-width: 33%;
            width: 33%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &.moreActive {
              img {
                transform: translateY(-vw(40));
              }
            }
            img {
              width: 150%;
              &.middle {
                width: 120%;
              }
              &.small {
                width: 100%;
              }
            }
            .more {
              position: absolute;
              width: 80%;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              display: flex;
              flex-flow: row wrap;
              align-items: center;
              justify-content: flex-start;
              img {
                width: 32%;
                transform: none;
                padding-right: 4%/3;
              }
              &.snack {
                img {
                  width: 19%;
                  padding-right: 5%/4;
                }
              }
            }
          }
          .text {
            width: 70%;
            min-height: 100%;
            display: flex;
            flex-direction: column;
            .name {
              font-family: 'CirceBold';
              font-size: vw(18);
              color: #000;
              margin-bottom: 20px;
              text-transform: uppercase;
              display: flex;
              justify-content: space-between;
              padding-right: vw(20);
              width: 100%;
              svg {
                height: vw(15);
                margin-right: 0;
              }
              button {
                border: none;
                background: none;
                box-shadow: none !important;
              }
            }
            .more {
              width: 90%;
              display: flex;
              flex-flow: row wrap;
              align-items: center;
              margin: auto;
              img {
                width: 19%;
                padding-right: 5%/4;
              }
            }
            .description {
              font-size: vw(14);
              line-height: vw(20);
              color: #7a7a7a;
              text-transform: none;
              padding-right: vw(10);
              span {
                font-weight: bold;
              }
            }
            .footer {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-right: vw(20);
              padding-top: vw(20);
              margin-top: auto;
              .quantity {
                display: flex;
                align-items: center;
                .plus, .minus {
                  width: vw(25);
                  height: vw(25);
                  border-radius: vw(5);
                  border: 1px solid $osn-col;
                  background: #fff;
                  color: $osn-col;
                }
                .minus {
                  background: linear-gradient(0deg, $osn-col, $osn-col) no-repeat center center / 40% vw(2);
                }
                .plus {
                  background: linear-gradient(0deg, $osn-col, $osn-col) no-repeat center center / 40% vw(2), linear-gradient(0deg, $osn-col, $osn-col) no-repeat center center / vw(2) 40%;
                }
                p {
                  padding: 0 vw(10);
                  line-height: 0;
                  width: vw(40);
                  text-align: center;
                }
              }
            }
          }
        }
      }
      .fullPrice {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: vw(20);
        font-size: vw(25);
        border-top: 1px solid rgba(0,0,0,.1);
      }
      .button.link {
        width: 100%;
        height: vw(45);
        border-radius: 0 0 vw(10) vw(10);
        &:hover {
          svg {
            fill: $osn-col;
          }
        }
        svg {
          height: auto;
          width: vw(25);
          margin-right: vw(15);
        }
      }
      &:hover {
        &:before {
          opacity: 1;
          border: vw(10) solid transparent;
          border-top-width: 0;
          border-bottom-color: #fff;
          transition: opacity 0.5s;
        }
        .item-holder {

        }
      }
      &.scroll {
        position: fixed;
        bottom: vw(20);
        right: vw(50);
        z-index: 100;
        box-shadow: vw(5) vw(5) vw(10) rgba(0,0,0,.3);
        border-radius: 50%;
        .button.main {
          background: $osn-col;
          font-size: 0;
          width: vw(60);
          height: vw(60);
          border-radius: 50%;
          svg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: 50%;
            fill: #fff;
          }
          .line {
            display: none;
          }
          span {
            font-size: vw(12);
            position: absolute;
            top: 0;
            right: 0;
            width: vw(20);
            height: vw(20);
            border-radius: 50%;
            background: red;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
          }
        }
        .item-holder {
          bottom: calc(100% + #{vw(15)});
          top: auto;
          &:before {
            top: 100%;
            bottom: auto;
            border-bottom-width: 0;
            border-top-width: vw(10);
            border-top-color: #fff;
          }
          &:after {
            top: 100%;
            bottom: auto;
            height: vw(20);
          }
        }
      }
    }
  }
}

.wow {
  visibility: hidden;
}

.button {
  border-radius: vw(6);
  padding: 0 vw(24);
  height: vw(70);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $osn-col;
  font-size: vw(18);
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.5s;
  width: fit-content;
  position: relative;
  z-index: 1;
  border: none;
  overflow : hidden;
  svg.loading {
    width: vw(40);
    height : vw(40);
    circle {
      fill: none;
      stroke-width: vw(5);
      stroke: rgba(0,0,0,.7);
    }
  }
  &:before {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    content: '';
    position: absolute;
    right : 100%;
    top: 0;
    transition: all .5s;
    z-index: -1;
    border-radius: vw(6);
  }
  &:hover {
    &:before {
      right : 0;
    }
  }
  &.small {
    padding: 0 vw(10);
    height: vw(36);
    font-size: vw(14);
    img , svg{
      height: vw(16);
      margin-right: vw(6);
      transition: all 0.5s;
    }
  }
  &.white {
    border: 1px solid #fff;
    background: transparent;
    &:before {
      display: none;
    }
    &:hover {
      background: #fff;
      color: #000;
    }
  }
}

#footer {
  width : 100%;

  .size {
    margin-top : vw(2);
    margin-right : vw(8);
    img {
      width : vw(20);
    }
  }

  .phone, .time {
    align-items : flex-start;
  }

  .container {
    display: flex;
    justify-content : space-between;
    align-items: center;
    .yudgin_burger {
      align-items: center;
      display: flex;
      .vl {
        margin-right : vw(12);
        border-left: 1px solid #5b4026;
        height : vw(34);
      }
      .inst, .fb {
        margin-left : vw(5);
        img {
          width : vw(30);
          display: block;
        }
      }
      .inst {
        margin-left : vw(10);
      }
      p {
        margin-top : vw(2);
        font-size : vw(14);
        line-height : vw(15);
        color: #fff;
        font-family: 'CirceRegular';
      }
    }
  }
  .footer_bottom {
    display: flex;
    justify-content : center;
    background: $osn-col;
    p {
      font-family: 'CirceRegular';
      font-size : vw(14);
      color: #fff;
      line-height : vw(36);
    }
  }
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #000000;
  background: #fff;
  font-size: vw(18);
  font-family: 'CirceRegular';
  .off {
    overflow: hidden;
  }
}

.container {
  width : vw(1170);
  margin: 0 auto;
  .burger {
    margin-bottom: vw(20);
    position: relative;
    display: flex;
    justify-content: center;
    span {
      display: flex;
      img {
        width: vw(37);
      }
      &:after {
        display: block;
        width: vw(24);
        content: '';
        border-bottom: 1px solid #e5a441;
        margin: 0 0 vw(20) vw(20);
      }
      &:before {
        display: block;
        width: vw(24);
        content: '';
        border-bottom: 1px solid #e5a441;
        margin: 0 vw(20) vw(20) 0;
      }
    }
  }
}

.box {
  margin-right : vw(15);
  display: flex;
  justify-content : center;
  align-items: center;
  width: vw(45);
  height: vw(45);
  border-radius: vw(6);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 vw(4) vw(21) 0 rgba(0, 4, 2, 0.2);
  img {
    width : vw(29);
  }
}

.abs, .abs1, .abs2, .abs3, .abs4, .abs5, .abs6, .abs7, .abs8, .abs9, .abs10 {
  position: absolute;
}

button {
  cursor: pointer;
  &:active {
    box-shadow: inset 0 5px 10px 0 rgba(0,0,0,0.5) !important;
  }
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 1023px) {
  ::-webkit-scrollbar {
    display: none !important;
  }
  main {
    overflow: hidden;
  }
  .abs, .abs1, .abs2, .abs3, .abs4, .abs5, .abs6, .abs7, .abs8, .abs9, .abs10 {
    display: none;
  }

  //@media screen and (max-width: 1023px) {
  //  .img_box1, .img_box2, .img_box3, .img_box4, .img_box5 {
  //    display : none;
  //  }
  //}




  h1 {
    font-size: vwM(30) !important;
    line-height: vwM(35) !important;
    text-align: center !important;
    margin-bottom: vwM(15) !important;
  }

  h2 {
    text-align: center !important;
    line-height: vwM(25) !important;
    padding-left: vwM(5) !important;
    font-size: vwM(20) !important;
    white-space: normal !important;
    margin: vwM(10) auto !important;
    width: fit-content;
  }

  h3 {
    font-size: vwM(20) !important;
    padding-bottom: vwM(18) !important;
    line-height: vwM(22) !important;
  }

  h4 {
    text-align: center !important;
    line-height: vwM(25) !important;
    padding-left: vwM(5) !important;
    font-size: vwM(18) !important;
    white-space: normal !important;
    margin: vwM(10) auto !important;
    width: fit-content;
  }

  p {
    font-size: vwM(12) !important;
    white-space: normal !important;
    text-align: left !important;
    line-height: vwM(20) !important;
    hyphens: auto;
    padding-right: 0 !important;
  }

  .container {
    width: 95% !important;
  }
  .footer_head {
    display: none;
  }
  #header {
    height: vwM(80);
  }
  .header_head {
    position: fixed;
    top: vwM(30);
    left: 0;
    width: 100%;
    z-index: 100;
    background: #fff;
    &.fixed {
      .container {
        padding: vwM(5) vwM(10);
        width: 100% !important;
        .logo {
          .box {
            width: vwM(25);
            height: vwM(25);
          }
          .logo_p {
            transform: translateY(-200%);
          }
        }
        .burger_menu {
          width: vwM(25);
          height: vwM(15);
          background: linear-gradient(0deg, #000, #000) no-repeat 0 0 / 100% vwM(1), linear-gradient(0deg, #000, #000) no-repeat 0 center / 100% vwM(1), linear-gradient(0deg, #000, #000) no-repeat 0 100% / 100% vwM(1);
        }
      }
    }
    .container {
      padding: vwM(10) 0;
      .logo {
        .box {
          width: vwM(30);
          height: vwM(30);
          border-radius: vwM(3);
          margin-right: vwM(5);
          transition: all 0.5s;
          img {
            width: 50%;
          }
        }
        .logo_p {
          transition: all 0.5s;
          picture {
            img {
              width: vwM(100);
            }
          }
          p {
            font-size: vwM(15)/2 !important;
            line-height: initial !important;
          }
        }
      }
      .phone, .time {
        position: absolute;
        bottom: 90%;
        width: 50%;
        background: #fff;
        padding: vwM(5) vwM(10);
        height: vwM(37);
        box-sizing: border-box;
      }
      .phone {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        left: 0;
        z-index: 1;
        .box {
          width: vwM(25);
          height: vwM(25);
          border-radius: vwM(3);
          margin-right: vwM(10);
          img {
            width: 60%;
          }
        }
        .number {
          font-size: vwM(12);
          line-height: inherit;
          .tel {
            font-size: vwM(14);
          }
          span {
            font-size: vwM(8);
            margin-top: -vwM(5);
          }
        }
      }
      .time {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        right: 0;
        .box {
          width: vwM(25);
          height: vwM(25);
          border-radius: vwM(3);
          margin-right: vwM(10);
          img {
            width: 60%;
          }
        }
        .text {
          p {
            padding-right: 0 !important;
          }
          span {
            font-size: vwM(8);
          }
        }
      }
      .registration {
        display: none;
      }
      .burger_menu {
        display: block;
        width: vwM(30);
        height: vwM(20);
        background: linear-gradient(0deg, #000, #000) no-repeat 0 0 / 100% vwM(2), linear-gradient(0deg, #000, #000) no-repeat 0 center / 100% vwM(2), linear-gradient(0deg, #000, #000) no-repeat 0 100% / 100% vwM(2);
      }
    }
  }
  .footer_nav {
    .container {
      nav {
        display: none;
      }
      .yudgin_burger {
        padding: vwM(10) 0;
        width: 100%;
        justify-content: space-between;
        .vl {
          display: none;
        }
        p {
          padding-right: 0 !important;
          white-space: pre-line !important;
        }
        .inst, .fb {
          img {
            width : vwM(30) !important;
          }
        }
        .inst {
          margin-right: vwM(10);
          margin-left: auto !important;
        }
      }
    }
  }
  .header_nav {
    .container {
      .nav {
        display: none;
        .menu {
          li {
            a {
              padding: vwM(5) vwM(10);
              font-size: vwM(10);
            }
          }
        }
      }
      .basket {
        position: fixed;
        bottom: vwM(10);
        right: vwM(10);
        .button.main {
          font-size: 0;
          padding: 0;
          width: vwM(40);
          height: vwM(40);
          border-radius: 50%;
          background: $osn-col !important;
          svg {
            height: 50%;
            fill: #fff;
          }
          .line {
            display: none;
          }
          span {
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 50%;
            background: red;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: vwM(10);
            width: vwM(15);
            height: vwM(15);
            font-weight: bold;
            color: #fff;
          }
        }
        .item-holder {
          display: none;
        }
      }
    }
  }
  #footer {
    .footer_bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-size: vwM(10) !important;
        padding-right: 0 !important;
        height: vwM(30);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(252, 252, 252);
    z-index: 1000;
    transition: all 0.5s;
    background: #141414;
    &.active {
      left: 0;
    }
    .container {
      display: flex;
      flex-direction: column;
      width: 90% !important;
      padding-top: vwM(15);
      height: 100%;
      padding-bottom: vwM(20);
      box-sizing: border-box;
      .registration {
        display: flex;
        margin-bottom: vwM(20);
        justify-content: flex-start;
        width: 100%;
        .language {
          width: vwM(30);
          height: vwM(30);
          border-radius: vwM(3);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: vwM(12);
          text-transform: uppercase;
          background-color: #dcdcdc;
          margin-right: vwM(10);
        }
        .close {
          margin-left: auto;
          width: vwM(30);
          height: vwM(30);
          background: linear-gradient(0deg, #fff, #fff) no-repeat center center / 100% vwM(2), linear-gradient(0deg, #fff, #fff) no-repeat center center / vwM(2) 100%;
          transform: rotate(45deg);
        }
      }
      nav {
        width: 100%;
        .menu {
          li {
            margin-bottom: vwM(10);
            a {
              font-size: vwM(30);
              font-family: 'CirceExtraBold';
              color: #fff;
            }
          }
        }
      }
      .footer_menu {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        .phone {
          box-sizing: border-box;
          display: flex;
          align-items: center;
          .box {
            width: vwM(25);
            height: vwM(25);
            border-radius: vwM(3);
            margin-right: vwM(10);
            img {
              width: 60%;
            }
          }
          .number {
            font-size: vwM(12);
            color: #fff;
          }
        }
        .time {
          box-sizing: border-box;
          display: flex;
          align-items: center;
          .box {
            width: vwM(25);
            height: vwM(25);
            border-radius: vwM(3);
            margin-right: vwM(10);
            img {
              width: 60%;
            }
          }
          .text {
            p {
              padding-right: 0 !important;
              color: #fff;
            }
            span {
              font-size: vwM(8);
              color: #fff;
            }
          }
        }
      }
    }
  }

  .button {
    font-size: vwM(14);
    height: vwM(40);
    padding: 0 vwM(20);
    border-radius: vwM(3);
    width: 100%;
    svg.loading {
      width: vwM(40);
      height : vwM(40);
      circle {
        stroke-width: vwM(5);
      }
    }
    &.small {
      font-size: vwM(14);
      height: vwM(30);
      padding: 0 vwM(10);
    }
  }

  #main {
    .container {
      .burger {
        span {
          display: flex;
          align-items: center;
          img {
            width : vwM(20);
          }
          &:after {
            width : vwM(30);
            margin-bottom: 0;
            margin-left: vwM(5);
            margin-top: vwM(5);
          }
          &:before {
            width : vwM(30);
            margin-bottom: 0;
            margin-right: vwM(5);
            margin-top: vwM(5);
          }
        }
      }
    }
  }
}
