@import "_all-page.scss";

.container {
    h2 {
        font-family: 'CirceBold';
        font-size : $a48;
        line-height : $a54;
        white-space: pre-line;
        color: black;
        text-transform : uppercase;
        text-align: center;
        margin-bottom : $a48;
    }
    //.button {
    //    margin-bottom : $a40;
    //    border-radius: $a6;
    //    background-color: rgb(241, 163, 28);
    //    display: inline-block;
    //    a {
    //        display: flex;
    //        padding: $a24 $a27;
    //        font-family: 'CirceRegular';
    //        color: #fff;
    //    }
    //}
}

#main {
    .career {
        background: linear-gradient( 55deg, rgb(204,133,9) 0%, rgb(242,175,58) 100%);
        width : 100%;
        position: relative;
        overflow-y: hidden;
        .img_abs {
            bottom : 0;
            z-index : 3;
            right : $a140;
            display: flex;
            align-items: center;
            position: absolute;
            img {
                width : $a833;
            }
        }
        .img_abs1 {
            bottom : 0;
            left : 0;
            display: flex;
            align-items: flex-end;
            position: absolute;
            img {
                width : $a320;
            }
        }
        .abs1 {
            background-color: rgba(250, 164, 17, .2);
            width: $a97;
            height: $a97;
            left : 0;
            bottom : $a142;
        }
        .abs2 {
            background-color: rgba(255, 255, 255, .102);
            width: $a31;
            height: $a31;
            top : $a29;
            left : $a267;
        }
        .abs3 {
            background-color: rgba(255, 255, 255, .102);
            width: $a38;
            height: $a38;
            top : $a48;
            left : $a286;
        }
        .abs4 {
            background-color: rgba(255, 255, 255, .2);
            width: $a63;
            height: $a97;
            right : 0;
            bottom : 0;
        }
        .abs5 {
            background-color: rgba(255, 255, 255, .2);
            width: $a43;
            height: $a43;
            right : $a42;
            bottom : $a75;

        }
        .abs6 {
            background-color: rgba(255, 255, 255, .2);
            width: $a144;
            height: $a144;
            top : $a204;
            right : $a472;
        }
        .container {
            padding-top : $a54;
            padding-bottom : $a97;
            .wrapper {
                z-index : 0;
                position: relative;
                padding: $a45 0 $a90 $a45;
                border: $a10 solid #fff;
                border-radius: $a10;
                h1 {
                    margin-left: -$a5;
                    font-family: 'CirceExtraBold';
                    font-size : $a110;
                    line-height : $a110;
                    text-transform : uppercase;
                    color: #fff;
                }
                h2 {
                    font-family: 'CirceExtraBold';
                    font-size : $a54;
                    text-transform : uppercase;
                    color: #fff;
                    margin-top: -$a10;
                    text-align : left;
                }
                p {
                    font-size : $a18;
                    line-height : $a36;
                    color: #fff;
                }
                .border_wrap {
                    z-index : 1;
                    position: absolute;
                    bottom : -$a12;
                    width : $a215;
                    height : $a15;
                    background: #d58e14;
                }
                .button {
                    z-index : 2;
                    left : $a54;
                    bottom : -$a40;
                    position: absolute;
                }
            }
        }
    }
    .advantages {
        position: relative;
        width : 100%;
        .abs1 {
            background-color: rgba(241, 163, 28, .102);
            width: $a39;
            height: $a39;
            top : $a23;
            left : $a55;
        }
        .abs2 {
            background-color: rgba(241, 163, 28, .102);
            width: $a179;
            height: $a179;
            top : $a42;
            left : $a74;
        }
        .abs3 {
            background-color: rgba(0, 0, 0, .102);
            right : 0;
            top : 0;
            width: $a200;
            height: $a74;
        }
        .abs4 {
            background-color: rgba(241, 163, 28, .102);
            width: $a39;
            height: $a39;
            right: $a306;
            bottom : $a500;
        }
        .abs5 {
            background-color: rgba(241, 163, 28, .102);
            width: $a179;
            height: $a179;
            right: $a147;
            bottom : $a341;
        }
        .container {
            padding-bottom : $a45;
            padding-top : $a56;
            .items {
                //padding-bottom : $a54;
                display: flex;
                justify-content : space-between;
                flex-flow: row wrap;
                .item {
                    width : 31%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom : $a35;
                    &:nth-child(2n) .bg {
                        background: #fbecd2;
                    }
                    .bg {
                        border-radius: $a6;
                        background-color: rgb(231, 231, 231);
                        width: $a210;
                        height: $a160;
                        position: relative;
                        margin-bottom : $a26;
                        .img1 {
                            position: absolute;
                            right : 0;
                            width : $a188;
                            top : $a10;
                        }
                        .img2 {
                            width : $a190;
                            position: absolute;
                            right : 0;
                            top : $a30;
                        }
                        .img3 {
                            width : $a228;
                            position: absolute;
                            left : $a10;
                            top : $a20;
                         }
                        .img4 {
                            width : $a211;
                            position: absolute;
                            left : $a10;
                            top : $a33;
                        }
                        .img5 {
                            width : $a272;
                            position: absolute;
                            left: $a42;
                            top : $a27;
                        }
                        & {
                            display: flex;
                            align-items: center;
                            justify-content : center;
                            .img6 {
                                width : $a119;
                                position: absolute;
                                //right : 0;
                                //top : $a30;
                            }
                        }
                        .img7 {
                            width : $a163;
                            position: absolute;
                            top : $a17;
                        }
                        .img8 {
                            width : $a132;
                            position: absolute;
                            bottom: -$a15;
                            right : $a25;
                        }
                        .img9 {
                            width : $a165;
                            position: absolute;
                            bottom: -$a20;
                            right : $a10;
                        }
                    }
                    p {
                        text-align: center;
                        font-family: 'CirceBold';
                        font-size : $a24;
                        line-height : $a30;
                    }
                }
            }
        }
    }
    .vacancies {
        position: relative;
        .abs1 {
            background-color: rgba(0, 0, 0, .102);
            width: $a75;
            height: $a75;
            top : -$a25;
            left : $a427;
        }
        .abs2 {
            background-color: rgba(0, 0, 0, .059);
            width: $a37;
            height: $a37;
            top : $a28;
            left : $a478;
        }
        .abs3 {
            z-index : 0;
            background-color: rgb(227, 158, 51);
            width: $a12;
            height: $a159;
            top : $a116;
            left : $a119;
        }
        .container {
                padding-bottom: $a300;
            h2 {
                margin-bottom : $a115;
            }
        }
        .bg {
            position: relative;
            z-index : 1;
            width : 100%;
            background: #130a01;
            padding-bottom : $a127;
            .banner {
                display: flex;
                justify-content : center;
                letter-spacing: $a4;
                span {
                    font-size : $a220;
                    text-transform : uppercase;
                    color: #b47812;
                    //line-height : $a36;
                    font-family: 'CirceExtraBold';
                    display: none
                }
            }
            .container {
                border-top: 2px solid #242424;
                display: flex;
                justify-content : space-between;
                position : relative;
                z-index : 1;
                padding-bottom: 0;
                img {
                        height: $a380;
                }
                .img_box1 {
                    bottom : 100%;
                    display: flex;
                    align-items : flex-end;
                    left: 0;
                    img {
                        
                    }
                }
                .img_box2 {
                    bottom : 100%;
                    display: flex;
                    align-items : flex-end;
                    left: $a260;
                    img {
                        
                    }
                }
                .img_box3 {
                    bottom : 100%;
                    display: flex;
                    align-items : flex-end;
                    left: $a630;
                    img {
                        
                    }
                }
                .img_box4 {
                    bottom : 100%;
                    display: flex;
                    align-items : flex-end;
                    left: $a900;
                    img {
                        
                    }
                }
                .text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top : $a30;
                    h3 {
                        font-size : $a20;
                        line-height : $a36;
                        font-family: 'CirceBold';
                        color: #fff;
                        text-transform : uppercase;
                    }
                    .dash {
                        margin-top : $a12;
                        margin-bottom : $a15;
                        width: $a17;
                        height: $a3;
                        background-color: rgb(255, 255, 255);
                    }
                    p {
                        font-size : $a18;
                        line-height : $a30;
                        color: #fff;
                        font-family: 'CirceRegular';
                    }
                }
            }
        }
    }
    .career_increase {
        position: relative;
        .abs1 {
            background-color: rgba(180, 180, 180, .2);
            width: $a76;
            top : $a92;
            left : 0;
            height: $a178;
        }
        .abs2 {
            background-color: rgb(241, 163, 28);
            width: $a402;
            height: $a402;
            right : $a136;
            top : $a466;
            z-index : -1;
        }
        .abs3 {
            background-color: rgba(241, 163, 28, .2);
            width: $a178;
            height: $a178;
            top : $a648;
            right : $a651;
        }
        .abs4 {
            width: $a422;
            height: $a479;
            background: #dededd;
            bottom : $a61;
            right : $a311;
            z-index : -1;
            opacity: .3;
        }
        .abs5 {
            width: $a422;
            height: $a522;
            background: #dededd;
            bottom : $a643;
            left : $a448;
            z-index : -1;
            opacity: .3;
        }
        .abs6 {
            background-color: rgba(227, 158, 51, .2);
            width: $a210;
            height: $a146;
            right : $a800;
            bottom : $a404;
        }
        .abs7 {
            background-color: rgb(227, 158, 51);
            width: $a15;
            height: $a348;
            right : $a889;
            bottom : $a95;
        }
        .abs8 {
            background-color: rgba(227, 158, 51, .2);
            width: $a210;
            height: $a146;
            bottom : $a724;
            right : $a917;
        }
        .banner_bg {
            position: relative;
            //height: 2000px;
            background: url("../img/career/mountain.png") no-repeat;
            background-size: 100%;
            .container {
                padding-top : $a115;
                padding-bottom : $a93;
                .wrapper {
                    margin-bottom : $a901;
                    position: relative;
                    display: inline-block;
                    padding: $a35 $a55 $a65 $a55;
                    border: $a12 solid #f1a31c;
                    border-radius: $a12;
                    p {
                        font-family: 'CirceBold';
                        font-size : $a24;
                        line-height : $a42;
                    }
                    .button {
                        position: absolute;
                        z-index : 1;
                        bottom : -$a35;
                    }
                    .border_wrap {
                        position: absolute;
                        bottom : -$a15;
                        left : $a30;
                        width : $a240;
                        height : $a17;
                        background: #eaeaea;
                    }
                }
                .items  {
                    .item {
                        position: relative;
                        z-index : 1;
                        margin-bottom : $a25;
                        display: flex;
                        align-items: center;
                        justify-content : space-between;
                        .boxs {
                            display: flex;
                            align-items: flex-end;
                            width: $a570;
                            box-shadow: 0 $a20 $a60 $a6 rgba(0, 4, 3, 0.3);
                            img {
                                width : $a570;
                            }
                        }
                        p {
                            font-size : $a18;
                            line-height : $a36;
                            font-family: 'CirceRegular';
                        }
                    }
                    .item1 {
                        flex-direction: row-reverse;
                    }
                }
            }
            .text {
                position: absolute;
                left : $a108;
                top : $a960;
                h3 {
                    font-family: 'CirceBold';
                    font-size : $a30;
                    line-height : $a36;
                    white-space: pre-line;
                }
                .dish {
                    width: $a17;
                    margin : $a6 0 $a13;
                    height: $a3;
                    background-color: rgb(222, 148, 47);
                }
                p {
                    font-family: 'CirceRegular';
                    font-size : $a18;
                    line-height : $a30;
                }
            }
            .text1 {
                top : $a790;
                left: $a403;
            }
            .text2 {
                top : $a620;
                left: $a689;
            }
            .text3 {
                top : $a360;
                left: $a1052;
            }
            .text4 {
                top : $a105;
                left: $a1490;
            }
            .circle {
                position: absolute;
                display: flex;
                justify-content : center;
                align-items: center;
                border-radius: 50%;
                width: $a21;
                height: $a21;
                box-shadow: 0 $a4 $a12 0 rgba(0, 4, 2, 0.44);
                border-color: rgba(214, 143, 45, 0.22);
                border-width: 1px;
                .ellipse {
                    border-radius: 50%;
                    background-color: rgb(222, 148, 47);
                    box-shadow: 0 $a4 $a12 0 rgba(0, 4, 2, 0.44);
                    width: $a13;
                    height: $a13;
                    display: flex;
                    justify-content : center;
                }
            }
            .pos {
                position: relative;
                left : $a81;
                top : $a1271;
                .line1 {
                    position: absolute;
                    background-color: rgb(222, 148, 47);
                    width: 1px;
                    height: $a316;
                    bottom : $a10;
                }
            }
            .pos1 {
                position: relative;
                left : $a370;
                top : $a1145;
                .line2 {
                    width: 1px;
                    height: $a380;
                    background-color: rgb(222, 148, 47);
                    bottom : $a10;
                    position: absolute;
                }
            }
            .pos2 {
                position: relative;
                left : $a660;
                top : $a1006;
                .line3 {
                    width: 1px;
                    height: $a430;
                    background-color: rgb(222, 148, 47);
                    bottom : $a10;
                    position: absolute;
                }
            }
            .pos3 {
                position: relative;
                left : $a1025;
                top : $a785;
                .line4 {
                    width: 1px;
                    height: $a490;
                    background-color: rgb(222, 148, 47);
                    bottom : $a10;
                    position: absolute;
                }
            }
            .pos4 {
                position: relative;
                left : $a1457;
                top : $a312;
                .img {
                    bottom : -$a13;
                    right : -$a23;
                    position: absolute;
                    img {
                        width : $a129;
                    }
                }
            }
        }
    }
    .block_philosophy {
        position: relative;
        background: #f4f4f4;
        .abs1 {
            top : $a64;
            left : $a349;
            background-color: rgba(227, 158, 51, .102);
            width: $a210;
            height: $a213;
        }
        .abs2 {
            background-color: rgb(227, 158, 51);
            width: $a15;
            height: $a348;
            bottom : $a62;
            left : $a885;
        }
        .container {
            padding-top : $a81;
            padding-bottom : $a85;
            display: flex;
            justify-content : space-between;
            .wrapper {
                position: relative;
                z-index : 1;
                display: flex;
                align-items : flex-end;
                box-shadow: 0 $a20 $a60 $a6 rgba(0, 4, 3, 0.1);
                //background: #fff;
                //padding: $a25 $a14 $a5 $a30;
                //
                img {
                    width : $a600;
                }
            }
            .text {
                p {
                    font-family: 'CirceBold';
                    font-size : $a22;
                    line-height : $a40;
                }
                .button {
                    margin-top : $a68;
                }
            }
        }
    }
}



@media screen and (max-width: 1023px) {
    #main {
        .career {
            .img_abs {
                right : $m12;
                width : $m110;
                img {
                    width : 100%;
                }
            }
            .container {
                padding-bottom : $m30;
                .wrapper {
                    padding-bottom : $m20;
                    display: flex;
                    flex-direction: column;
                    //align-items: center;
                    h1 {
                        margin-bottom : 0 !important;
                    }
                    p {
                        margin-bottom : $m10 !important;
                    }
                    .button {
                        background: linear-gradient(55deg, #cc8509 0%, #f2af3a 100%);
                        width : 56%;
                        left: auto;
                        bottom : -$m18;
                    }
                    .border_wrap {
                        width : 56%;
                        height : $m4;
                    }
                }
            }
        }
        .advantages {
            .container {
                h2 {
                    font-size : $m24 !important;
                }
                .items {
                    flex-direction: column;
                    .item {
                        //display: flex;
                        flex-direction: row;
                        width : 100%;
                        overflow: hidden;
                        .bg {
                            margin-bottom : 0;
                            margin-right : $m10;
                            width : $m80;
                            height : $m60;
                            .img1 {
                                width : 89%;
                                top : 0;
                                left : $m4;
                            }
                            .img2 {
                                width : 100%;
                                top : 0;
                                left : 0;
                            }
                            .img3 {
                                width : 100%;
                                top : $m3;
                                left : 0;
                            }
                            .img4 {
                                width : 95%;
                                top : $m5;
                                left : $m4;
                            }
                            .img5 {
                                width : 100%;
                                top : $m10;
                                left : $m10;
                            }
                            .img6 {
                                width : 60%;
                                top : $m5;
                                left : $m15;
                            }
                            .img7 {
                                width : 80%;
                                top : 0;
                                left : $m7;
                            }
                            .img8 {
                                width : 90%;
                                top : 0;
                                left : $m12;
                            }
                            .img9 {
                                width : 80%;
                                top : 0;
                                left : $m10;
                            }
                        }
                        p {
                            padding-right : 0 !important;
                            width : 70%;
                        }
                    }
                }
            }
        }
        .vacancies {
        .container {
                padding-bottom: $m100;
        }
            .bg {
                span {
                    margin: $m10 0;
                }
                .container {
                    flex-direction: column;
                    img {
                            height: $m100;
                    }
                    .img_abs {
                            display: none;
                    }
                    .img_box1 {
                            left: 2%;
                    } 
                    .img_box2 {
                            left: 25%;
                    }
                    .img_box3 {
                            left: 53%
                    }
                    .img_box4 {
                        left: 75%;
                    }
                    .text {
                        margin-top : $m10;
                        h3 {
                            line-height : normal;
                            padding-bottom : 0 !important;
                        }
                        .dash {
                            width : 5%;
                            height : 2px;
                        }
                    }
                }
            }
        }
        .career_increase {
            .banner_bg {
                background: #f4f4f4;
                .circle {
                    display: none;
                }
                .text {

                    width : 95%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    top : $m190;
                    //position: relative !important;
                    left : $m8 !important;
                    h3 {
                        text-align: center;
                        line-height : normal !important;
                        padding-bottom : 0 !important;
                        white-space: normal !important;
                    }

                    .dish {
                        height : 1px;
                        width : 4%;
                    }

                }
                .text1 {
                    top : $m290 !important;
                }
                .text2 {
                    top : $m370 !important;
                }
                .text3 {
                    top : $m450 !important;
                }
                .text4 {
                    top : $m590 !important;
                }
                .container {
                    padding-bottom : 0;
                    .wrapper {
                        display: flex !important;
                        justify-content : center;
                        padding-bottom : $m30 !important;
                        margin-bottom : $m570 !important;
                        p {
                            padding-right : 0 !important;
                        }
                        .border_wrap {
                            left: auto !important;
                            background: #f4f4f4 !important;
                            width : 90% !important;
                        }
                        .button {
                            width : 80%;
                            bottom: -$m21 !important;
                        }
                    }
                    .items {
                        .item {
                            display: flex;
                            flex-direction: column;
                            .boxs {
                                margin-bottom : $m10;
                                width : 95%;
                                img {
                                    width : 100%;
                                }
                            }
                            p {
                                margin-bottom : $m5;
                            }
                        }
                        .item1 {
                            margin-bottom : 0;
                            justify-content : center !important;
                            display: flex !important;
                            flex-flow: row wrap;
                        }
                    }
                }
            }
        }
        .block_philosophy {
            .container {
                flex-direction: column;
                .wrapper {
                    //h3 {
                    //    padding-bottom : 0 !important;
                    //}
                    //p {
                    //    span {
                    //        font-size : $m12;
                    //    }
                    //}
                    img {
                        width : 100%;
                    }
                }
                .text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top : $m10;
                    .button {
                        width : 100%;
                    }
                }
            }
        }
    }
}