@import "_all-page.scss";

.color {
  color: #FFA400;
}
.container {
  h2 {
    font-family: 'CirceBold';
    font-size : vw(48);
    line-height : vw(54);
    white-space: pre-line;
    color: black;
    text-transform : uppercase;
    text-align: center;
    margin-bottom : vw(48);
  }
  h3 {
    font-family: 'CirceExtraBold';
    font-size : vw(30);
    line-height : vw(36);

    white-space: pre-line;
    color: #000;
    text-transform : initial;
  }
  h4 {
    font-family: 'CirceExtraBold';
    white-space: pre-line;
    text-transform : uppercase;
    font-size: vw(28);
    line-height: vw(36);
    color: #FFA400;
  }
}

#main {
  .block_congratulations {
    background-size: cover;
    background-repeat: no-repeat;
    background: url("../img/congratulations/banner_bg.png");
    .container {
      padding-top: vw(60);
      display: flex;
      justify-content: space-between;
      .mob_main_title_thanks {
        display: none;
      }
      .left_block {
        position: relative;

        img {
          width: vw(562);
        }
        .description_banner {
          z-index: 10;
          position: absolute;
          bottom: vw(-37);
          left: vw(113);
          background: #FFFFFF;
          width: vw(370);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: vw(80);
          box-shadow: 7px 10px 30px rgba(0, 0, 0, 0.1);
          border-radius: vw(6);
          p {
            font-size: vw(18);
            line-height: vw(20);
          }
        }
      }
      .right_block {
        h4 {
          margin-bottom: vw(16);
        }
        p {
          font-size: vw(18);
          margin-bottom: vw(25);
          line-height: vw(30);
          color: #FFFFFF;
          &:last-child {
            margin-bottom: 0;
          }
        }
        .button {
          font-family: 'CirceRegular';
          color: #000 !important;
          &:hover {
            color: #fff !important;
          }
        }
      }
    }
  }
  .yut_c {
    display: flex;
    justify-content: flex-start;
    position: relative;
    .wrapper_page {
      background: #F2F2F2;
      height: vw(480);
      display: flex;
      align-items: center;
      width: vw(1330);

      .container {
        display: flex;
        align-items: center;
        left: vw(372);
        justify-content: space-between;
        position: absolute;

        .arrow_right {
          position: absolute;
          width: vw(99);
          left: vw(420);
          top: vw(270);
        }
        p {
          font-size: vw(24);
          line-height: vw(36);
        }
        .video {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          filter: drop-shadow(15px 20px 70px rgba(0, 0, 0, 0.2));
          .video_banner {

            width: vw(570) ;

          }
          .play {
            width: vw(40);
            height: vw(40);
            background: #FFFFFF;
            box-shadow: 10px 12px 4px rgba(255, 164, 0, 0.3);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            img {
              width: vw(14);
            }
          }
        }
      }
    }
  }
  .gallery {
    .container {
      padding-top: vw(60);
      img {
        width: 100%;
      }
      .top {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: vw(195);
        grid-gap: vw(30);
      }
      .bottom {
        margin-top: vw(20);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: vw(5);
      }
      .button {
        margin: vw(40) auto vw(47) auto;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  #main {
    .block_congratulations {
      .container {
        flex-direction: column;
        .mob_main_title_thanks {
          display: block;
        }
        .left_block {
          margin-bottom: vwM(15);
          img {
            width: 100%;
          }
          .description_banner {
            width: 100%;
            height: auto;
            padding: vwM(10) 0;
            left: auto;
            bottom: 0;
            position: relative;
            h3 {
              padding-bottom: vwM(5) !important;
              line-height: vwM(25);
            }
            p {

              padding-right: 0 !important;
            }
          }
        }
        .right_block {
          h4 {
            display: none;
          }
          p {
            padding-bottom: vwM(10);
          }
          .button {
            font-size: vwM(14);
            margin: vwM(15) auto;

          }
        }
      }
    }
    .yut_c {
      .wrapper_page {
        width: 100% ;
        height: auto;
        .container {
          position: relative;
          padding-top: vwM(15);
          padding-bottom: vwM(15);
          left: auto;
          flex-direction: column-reverse;
          .arrow_right {
            display: none;
          }
          .video {
            margin-bottom: vwM(15);
            .video_banner {
              width: 100%;
            }
            .play {
              width: vwM(40);
              height: vwM(40);
              .arrow_play {
                width: vwM(12);
              }
            }
          }
        }
      }
    }
  }
}
