@import "_all-page.scss";

.container {
    h1 {
        font-family: 'CirceBold';
        font-size : $a48;
        line-height : $a54;
        white-space: pre-line;
        color: black;
        text-transform : uppercase;
        text-align: center;
        margin-bottom : $a48;
    }
}

#main {
    .new_block {
        background: linear-gradient( 55deg, rgb(204,133,9) 0%, rgb(242,175,58) 100%);
        .container {
            display: flex;
            justify-content: space-between;
            padding-bottom : $a50;
            padding-top : $a68;
            .item {
                position: relative;
                display: flex;
                height : $a305;
                justify-content: flex-end;
                flex-direction: column;
                align-items: center;
                width : 33%;
                img {
                    width : $a350;
                    margin-bottom : $a42;
                }
                .w3 {
                    bottom : $a50;
                    left : -$a20;
                    position: absolute;
                    width : $a510;
                }
                h3 {
                    text-transform : uppercase;
                    margin-bottom : $a10;
                    font-family: 'CirceExtraBold';
                    font-size : $a28;
                    line-height : $a32;
                    color: #fff;
                }
                p {
                    font-family: 'CirceExtraBold';
                    font-size : $a24;
                    line-height : $a32;
                    color: #fff;
                }
            }
        }
        .background {
            background: rgba(186, 127, 25, .9);
            .container {
                display: flex;
                align-items: center;
                padding: $a60 0;
                .wrapper {
                    display: flex;
                    align-items: center;
                    .border {
                        border-radius: $a6;
                        width: $a66;
                        height: $a66;
                        border: 2px solid #fff;
                        display: flex;
                        align-items: center;
                        justify-content : center;
                        img {
                            width : $a46;
                        }
                    }
                    p {
                        margin-left : $m4;
                        font-family: 'CirceBold';
                        font-size : $a26;
                        line-height : $a32;
                        color: #fff;
                        text-transform : uppercase;
                    }
                }
                #br {
                    font-family: 'CirceBold';
                    font-size : $a26;
                    line-height : $a32;
                    color: #fff;
                    text-transform : uppercase;
                }
            }
        }
    }
    .delivery_area {
        width : 100%;
        position: relative;
        .abs1 {
            background-color: rgba(241, 163, 28, .102);
            width: $a179;
            height: $a179;
            top : $a109;
            left : $a94;
        }
        .abs2 {
            background-color: rgba(241, 163, 28, .102);
            width: $a39;
            height: $a39;
            left : $a75;
            top : $a90;
        }
        .abs3 {
            background-color: rgba(0, 0, 0, .102);
            width: $a75;
            height: $a56;
            top : 0;
            right : $a228;
        }
        .abs4 {
            background-color: rgba(0, 0, 0, .059);
            width: $a37;
            height: $a37;
            top : $a33;
            right : $a215;
        }
        .abs5 {
            background-color: rgba(0, 0, 0, .102);
            width: $a110;
            height: $a110;
            right : $a581;
            top : $a385;
        }
        .abs6 {
            background-color: rgba(241, 163, 28, .102);
            width: $a179;
            height: $a179;
            right : $a350;
            top : $a730;
        }
        .abs7 {
            background-color: rgb(227, 158, 51);
            width: $a12;
            height: $a280;
            right : $a388;
            bottom : $a98;
        }
        .abs8 {
            background-color: rgb(227, 158, 51);
            width: $a12;
            height: $a280;
            top : $a240;
            left : $a403;
        }
        .container {
            padding-bottom : $a62;
            padding-top : $a28;
            .wrapper {
                margin-bottom : $a59;
                align-items: center;
                display: flex;
                justify-content : center;
                .left {
                    display: flex;
                    align-items: center;
                }
                .box {
                    width : $a56;
                    height : $a56;
                    img {
                        width : $a34;
                    }
                }
                p {
                    font-family: 'CirceRegular';
                    font-size : $a18;
                    line-height : $a30;
                    margin-right : $a55;
                }
                .form {
                    position: relative;
                    input {
                        width : $a361;
                        border: 2px solid #e6e6e6;
                        background: #fff;
                        border-radius: $a6;
                        padding: $a22 $a53 $a22 $a28;
                        font-size : $a18;
                        font-family: 'CirceRegular';
                    }
                    input::-webkit-input-placeholder {
                        color: #a1a1a1;
                    }
                    button {
                        width : $a52;
                        background: #f1a31c;
                        top : 0;
                        border: none;
                        border-bottom-right-radius: $a6;
                        border-top-right-radius: $a6;
                        bottom : 0;
                        position: absolute;
                        right : 0;
                        img {
                            width : $a25;
                        }
                    }
                }
            }
            .map {
                position: relative;
                #map {
                    width: $a770;
                    height: $a700;
                    border-radius: $a10;
                    overflow-y: hidden;
                }
                .right_block {
                    position: relative;
                    border-radius: $a10;
                    background-color: rgb(255, 255, 255);
                    box-shadow: 0 $a23 $a49 0 rgba(0, 4, 2, 0.1);
                    right : 0;
                    padding: $a40 $a50 $a66;
                    top : 11%;
                    position : absolute;
                    z-index: 1;
                    .motorcykle {
                        position: absolute;
                        display: flex;
                        align-items : flex-end;
                        bottom : 0;
                        right : 0;
                        width: 100%;
                        z-index: -1;
                    }
                    p {
                        position: relative;
                        z-index : 1;
                        font-family: 'CirceRegular';
                        font-size : $a18;
                        line-height : $a30;
                        margin-bottom : $a40;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    #main {
        .new_block {
            .container {
                flex-direction: column;
                .item {
                    height : auto;
                    width : 100%;
                    .w3 {
                        position: relative;
                        width : 90%;
                        margin-left : $m40;
                    }
                    img {
                        width : 90%;
                    }
                    h3 {
                        line-height : normal;
                        padding-bottom : 0 !important;
                    }
                    p {
                        padding-right : 0 !important;
                        margin-bottom : $m10;
                        font-family: 'CirceBold';
                        font-size : $m14 !important;
                    }
                }
            }
            .background {
                .container {
                    //flex-direction: row;
                    .wrapper {
                        display: flex;
                        .border {
                            border-radius: $m3;
                            border-width: 1px;
                            width : $m25;
                            height : $m25;
                            img {
                                width : 85%;
                            }
                        }
                        p {
                            margin-left : $m10;
                        }
                    }
                    #br {
                        padding-right : 0 !important;
                    }
                    p {
                        line-height : normal !important;
                    }
                }
            }
        }
        .delivery_area {
            .container {
                .burger {
                    margin : $m10 0;
                }
                .wrapper {
                    flex-direction: column;
                    margin-bottom: 0;
                    .left {
                        justify-content : space-around;
                        display: flex;
                        flex-direction: row-reverse;
                        .box {
                            width : $m40;
                            height : $m40;
                            border-radius: $m3;
                            img {
                                width : 60%
                            }
                        }
                        p {
                            width : 80%;
                            margin-right : 0;
                            padding-right : 0 !important;
                        }
                    }
                    .form {
                        margin: $m20 0;
                        width : 100%;
                        input {
                            font-size : $m14;
                            padding-left: $m10;
                            width : 100%;
                            display: flex;
                            justify-content : center;
                            align-items: center;
                        }
                        button {
                            width : 10%;
                            img {
                                margin-top : $m2;
                                width : 50%;
                            }
                        }
                    }
                }
                .map {
                    #map {
                        width : 100%;
                        height : $m250;
                        max-height: 80vh;
                    }
                    .right_block {
                        margin-top : $m20;
                        position: relative;
                        padding: $m10;
                        img {
                            width : 63% !important;
                        }
                        .button {
                                margin-top: $m20;
                        }
                    }
                }
            }
        }
    }
}

