@import "_all-page.scss";
@import "slick";
@import "slick-theme";
@import "jquery.fancybox.min";

.popup_form {
    width : 100%;
    height : 100%;
    position: fixed;
    top : 0;
    left : 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    &.visible {
        display: flex;
    }
    &.login {
        .wrapper {
            width: vw(600);
            .form {
                flex-direction: column;

                label {
                    width: 100%;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    span {
                        font-size: vw(25);
                    }
                }
                .buttonText {
                    position : relative;
                    .button {
                        margin-top: vw(20);
                        font-size: vw(20);
                        font-weight: bold;
                        letter-spacing: .04em;
                    }
                    .resend {
                        font-size : vw(14);
                        color : #000;
                        text-decoration : underline;
                        display: flex;
                        align-items: center;
                        justify-content : center;
                        text-align: center;
                        margin : vw(10) auto;
                        position: static;
                        background : none;
                        border : none;
                        &:disabled {
                            color : #ccc;
                            cursor : wait;
                        }
                    }
                }
            }
        }
    }
    .wrapper {
        position : relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: vw(33) vw(30);
        width : vw(670);
        z-index : 13;
        margin : 0 auto;
        border-radius: vw(10);
        background-color: rgb(234, 234, 234);
        .close {
            content: '';
            position: absolute;
            top: vw(10);
            right: vw(10);
            width: vw(25);
            height: vw(25);
            transform: rotate(45deg);
            background: linear-gradient(0deg, #b7bbb9, #b7bbb9) no-repeat center center/100% 4px,linear-gradient(0deg, #b7bbb9, #b7bbb9) no-repeat center center/4px 100%;
            cursor: pointer;
        }
        .logo {
            margin-bottom : vw(36);
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width : vw(224);
            }
        }
        .form {
            align-items : flex-end;
            display: flex;
            flex-flow: row wrap;
            justify-content : space-between;
            width : 100%;
            padding-bottom: vw(40);
            label {
                display: flex;
                flex-direction: column;
                position: relative;
                margin-bottom : vw(10);
                &.textarea {
                    width: 100%;
                }
                .check {
                    position: absolute;
                    bottom: 0;
                    right: vw(15);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: vw(80);
                }
                #date {
                    &::-webkit-input-placeholder {
                        color: #000;
                    }
                }
                input, textarea, select {
                    height: vw(71);
                    padding-left: vw(25);
                    padding-right: vw(40);
                    border-style: solid;
                    border-width: 2px;
                    border-color: rgb(230, 230, 230);
                    border-radius: vw(6);
                    background-color: rgb(255, 255, 255);
                    width: vw(300);
                    font-size : vw(18);
                    overflow: auto;
                    white-space: normal;
                    &::-webkit-input-placeholder {
                        color: transparent;
                    }
                    &:valid~{
                        .check {
                            &:before {
                                content: '\2714';
                                font-size: vw(25);
                                color: #00cb00;
                                padding-bottom: vw(5);
                            }
                        }
                    }
                }
                textarea {
                    height: vw(100);
                    padding-top: vw(20);
                    width: 100%;
                    resize: vertical;
                    margin-bottom: vw(20);
                }
                span {
                    padding-left : vw(3);
                    white-space: pre-line;
                    margin-bottom : vw(5);
                    font-family: 'CirceBold';
                    font-size : vw(18);
                }
            }
            .buttonText {
                position: relative;
                margin-bottom : vw(10);
                p {
                    position: absolute;
                    width: 100%;
                    top: 110%;
                    left: 0;
                    font-size : vw(14);
                    font-family: 'CirceRegular';
                    line-height : vw(18) !important;
                    color: #a5a5a5;
                    text-align: center;
                }
            }
            .button {
                width: vw(300) !important;
                text-transform: uppercase;
            }
        }
        .text {
            width : 100%;
            display: flex;
            justify-content: flex-end;
            p {
                font-size : vw(14);
                font-family: 'CirceRegular';
                line-height : vw(18);
                color: #a5a5a5;
                text-align: center;
                width: 49%;
            }
        }
        p {
            white-space: normal !important;
            line-height: vw(30) !important;
            a {
                font-weight: bold;
                font-size: vw(20);
                color: $osn-col;
            }
        }
    }
}

.color {
    color: #FFA400;
}
.container {
    h2 {
        font-family: 'CirceBold';
        font-size : vw(48);
        line-height : vw(54);
        white-space: pre-line;
        color: black;
        text-transform : uppercase;
        text-align: center;
        margin-bottom : vw(48);
    }
    h3 {
        font-family: 'CirceBold';
        font-size : vw(36);
        line-height : vw(36);
        text-align: center;
        white-space: pre-line;
        color: black;
        text-transform : initial;
    }
    h4 {
        font-family: 'CirceBold';
        white-space: pre-line;
        text-transform : uppercase;
        font-size: vw(18);
        line-height: vw(24);
        color: #FFA400;
        text-align: center;
    }
}

#main {
    .franchise {
        background: url("../img/franchise/one_block_banner.png");
        background-size: cover;
        background-repeat: no-repeat;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: vw(99) 0;
            h1 {
                font-size: vw(60);
                line-height: vw(65);
                white-space: pre-line;
                color: #fff;
                font-family: 'CirceExtraBold';
                margin-bottom: vw(24);
            }
            .mob_main_title {
                display: none;
            }
            .left_block  {
                position: relative;
                .transform_arrow {
                    width: vw(87);
                    position: absolute;
                    bottom: vw(15);
                    right: vw(-15);
                }
                h1 {
                    font-size: vw(60);
                    line-height: vw(65);
                    white-space: pre-line;
                    color: #fff;
                    font-family: 'CirceExtraBold';
                    margin-bottom: vw(24);
                }
                p {
                    font-size: vw(26);
                    line-height: vw(36);
                    color: #fff;
                    margin-bottom: vw(38);
                    font-family: 'CirceRegular';
                    .color {
                        font-family: 'CirceExtraBold';
                    }
                }
                .button {
                    font-family: 'CirceRegular';
                }
            }
            .right_block {
                .video {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    filter: drop-shadow(15px 20px 90px rgba(255, 164, 0, 0.3));
                    .video_banner {

                        width: vw(570) ;

                    }
                    .play {
                        width: vw(40);
                        height: vw(40);
                        background: #FFFFFF;
                        box-shadow: 10px 12px 4px rgba(255, 164, 0, 0.3);
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        img {
                            width: vw(14);
                        }
                    }
                }


            }
        }
    }
    .talk_about_us {
        .container {
            padding: vw(60) 0 vw(100);
            .wrapper_item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .item {
                    height: vw(150);
                    background: #FFFFFF;
                    box-shadow: 8px 20px 60px rgba(0, 0, 0, 0.07);
                    border-radius: vw(6);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: vw(270);
                    img {
                        width: vw(185);
                    }
                }
            }

        }
    }
    .burger_today {
        display: flex;
        justify-content: flex-end;
        margin-bottom: vw(70);
        .wrapper_block {
            background: #F2F2F2;
            width: vw(1625);
            .container {
                margin: 0 auto 0 vw(80);
                padding: vw(60) 0 vw(50);
                h2 {
                    margin-bottom: vw(48);
                }
                .wrapper-items {
                    display: flex;
                    justify-content: space-between;
                    flex-flow: row wrap;
                    position: relative;
                    .grid_s {
                        position: absolute;
                        width: vw(1100);
                        top: vw(70);
                        left: vw(35);
                    }
                    .burger_box {
                        background: #FFA400;
                        box-shadow: 5px 9px 40px rgba(255, 164, 0, 0.3);
                        border-radius: vw(6);
                        position: absolute;
                        z-index: 5;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        top: vw(131);
                        width: vw(170);
                        height: vw(170);
                        left: vw(500);
                        img {
                            width: vw(82);
                        }
                    }
                    .item {
                        width: 50%;
                        display: flex;
                        margin-bottom: vw(50);
                        align-items: center;
                        .bg_item {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: vw(70);
                            height: vw(70);
                            background: #FFFFFF;
                            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
                            border-radius: vw(6);
                            margin-right: vw(30);
                            img {
                                width: vw(50);
                            }
                        }
                        p {
                            font-family: 'CirceExtraBold';
                            font-size: vw(18);
                        }
                        &:nth-child(even) {
                            flex-direction: row-reverse;
                            .bg_item {
                                margin-right: 0;
                                margin-left: vw(30);
                            }
                        }
                    }
                }
            }
        }
    }
    .founder {
        .container {
            padding-bottom: vw(392);
            display: flex;
            justify-content: space-between;
            .block_description {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                p {
                    font-size: vw(18);
                    line-height: vw(36);
                    margin-bottom: vw(15);
                }
            }
            img {
                width: vw(570);
            }
        }
    }
    .block_five {
        display: flex;
        position: relative;
        z-index: 10;
        justify-content: flex-start;
        margin-top: vw(-322);
        .wrapper_block {
            width: vw(1625);
            background: #FFA400;
            background-image: url("../img/franchise/b_g.png");
            background-position-x: left;
            background-size: cover;
            .container {
                padding: vw(70) 0;
                align-items: stretch;
                display: flex;
                justify-content: space-between;
                margin: 0 vw(80) 0 auto;
                .left_block {
                    display: flex;
                    position: relative;
                    width: vw(570);
                    align-items: center;
                    img {
                        width: vw(300);
                        position: absolute;
                    }
                    .picture_one {
                        top: 0;
                        right: 0;
                        z-index: 1;

                    }
                    .picture_two {
                        bottom: 0;
                        left: 0;
                    }
                }
                .right_block {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p {
                        font-size: vw(18);
                        line-height: vw(36);
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
    .block_six  {
        background: #F2F2F2;
        padding-top: vw(392);
        margin-top: vw(-322);
        padding-bottom: vw(304);
        .container {
            display: flex;
            justify-content: space-between;
            .block_text {
                p {
                    font-size: vw(18);
                    line-height: vw(36);
                }
            }
            .block_right {
                display: flex;
                img {
                    width: vw(270);
                    &:last-child {
                        margin-left: vw(30);
                    }
                }
            }
        }
    }
    .block_seven {
        display: flex;
        margin-top: vw(-234);
        justify-content: center;
        .wrapper_block {
            padding: vw(80) 0 vw(70);
            width: vw(1330);
            background: #FFFFFF;
            box-shadow: 10px 15px 80px rgba(0, 0, 0, 0.07);
            .container {
                .wrapper-page {
                    display: flex;
                    justify-content: space-between;
                    .left_block {
                        display: flex;
                        position: relative;
                        width: vw(570);
                        align-items: center;
                        img {
                            width: vw(330);
                            position: absolute;
                        }
                        .picture_one {
                            top: vw(5);
                            right: 0;
                            z-index: 1;

                        }
                        .picture_two {
                            bottom: 0;
                            left: 0;
                        }
                    }
                    .right_block {
                        p {
                            font-size: vw(18);
                            line-height: vw(36);
                        }
                    }
                }
                .button {

                    margin: 0 auto;
                    margin-top: vw(40);
                    font-family: 'CirceRegular';
                }
            }
        }
    }
    .fair_term {
        padding-top: vw(60);
        padding-bottom: vw(75);
        .container {
            .wrapper_page {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                .item {
                    margin-bottom: vw(25);
                    width: 50%;
                    display: flex;
                    align-items: flex-start;
                    &:nth-child(3), &:nth-child(5) {
                        margin-bottom: vw(63);
                    }
                    img {
                        width: vw(70);
                        margin-right: vw(27);
                    }
                    .right_wrapper {
                        .line-throw {
                            text-decoration-line: line-through;
                            margin-right: vw(10);
                        }
                        p {
                            ont-size: vw(30);
                            line-height: vw(36);

                        }
                        .gray_text {
                            font-size: vw(18);
                            line-height: vw(36);
                            color: #979797;
                        }
                    }
                }
            }
        }
    }
    .franchise_selection_criteria {
        background: #FFA400;
        position: relative;
        .container {
            padding-bottom: vw(122);
            padding-top: vw(60);
            h2 {
                color: #fff;
            }
            .wrapper_items {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                .item {
                    margin-bottom: vw(36);
                    width: 50%;
                    display: flex;
                    align-items: center;
                    .bg_icon {
                        background: #FFFFFF;
                        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
                        border-radius: vw(6);
                        margin-right: vw(30);
                        display: flex;
                        align-items: center;
                        width: vw(70);
                        height: vw(70);
                        justify-content: center;
                        img {
                            width: vw(50);
                        }
                    }
                    p {
                        font-size: vw(30);
                        line-height: vw(36);
                        color: #FFFFFF;
                    }
                }
            }
        }
        .wrapper_text {
            bottom: vw(-59);
            left: vw(335);
            position: absolute;
            z-index: 10;
            width: vw(1250);
            margin: 0 auto;
            background: #FFFFFF;
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
            border-radius: vw(6);
            .container {
                padding: vw(26) 0;
                p {
                    font-size: vw(22);
                    line-height: vw(36);
                }
            }
        }
    }
    .block_slider {
        display: flex;
        justify-content: flex-start;
        .wrapper_slider {
            width: vw(1625);
            background: #F2F2F2;
            .container {
                padding-top: vw(122);
                padding-bottom: vw(70);
                margin: 0 vw(80) 0 auto;
                .nav_slider {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: vw(26);
                    button {
                        width: vw(60);
                        height: vw(60);
                        background: #AEAEAE;
                        border-radius: 50%;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 vw(25);
                        pointer-events: none;
                        cursor: auto;
                        &.active {
                            background: $osn-col;
                            pointer-events: auto;
                            cursor: pointer;
                        }
                        &.prev {
                            transform: rotate(180deg);
                        }
                        img {
                            width: 50%;
                        }
                    }
                    .num {
                        display: flex;
                        align-items: center;
                        font-family: "CirceBold";
                        font-size: vw(30);
                        div {
                            color: #AEAEAE;
                            &.active {
                                color: #000;
                            }
                        }
                        span {
                            display: flex;
                            width: vw(43);
                            border-bottom: 1px solid #AEAEAE;
                            margin: 0 vw(12);
                        }
                    }
                }
                .button {
                    margin: 0 auto;
                }
                .slide {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding-bottom: vw(50);
                    margin: 0 vw(15);
                    img {
                        margin-bottom: vw(20);
                        width: 100%;
                    }
                    h3 {
                        margin-bottom: vw(17);
                    }
                    p {
                        line-height: vw(30);
                        font-size: vw(18);
                    }
                    .strong {
                        font-family: "CirceExtraBold";
                        line-height: vw(36);
                        text-align: center;
                        margin-bottom: vw(20);
                    }
                }
            }
        }
    }
    .seven_steps_to_discover {
        background-size: 100%;
        background-repeat: no-repeat;
        background: url("../img/franchise/bg_seven.png");
        .container {
            padding-top: vw(60);
            padding-bottom: vw(73 );
            h2 {
                color: #fff;
                margin-bottom: vw(60);
            }
            .button {
                margin: 0 auto;
            }
            .wrapper_columns {
                display: flex;
                margin-bottom: vw(71);
                position: relative;
                flex-direction: column;
                align-items: center;
                .line {
                    top: vw(140);
                    position: absolute;
                    height: vw(1300);
                }
                .bg_burger {
                    z-index: 10;
                    position: relative;
                    background: #FFA400;
                    width: vw(140);
                    height: vw(140);
                    margin-bottom: vw(50);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 5px 9px 40px rgba(255, 164, 0, 0.3);
                    border-radius: vw(6);
                    img {
                        width: vw(68);
                    }
                }
                .item {
                    position: relative;
                    z-index: 10;
                    width: vw(700);
                    margin-bottom: vw(11);
                    display: flex;
                    align-items: flex-start;
                    &:nth-child(even) {
                        margin-left: vw(581);
                        justify-content: flex-end;
                        flex-direction: row-reverse;
                        .block_text {
                            margin-right: vw(0);
                            margin-left: vw(15);
                            h4, p {
                                text-align: left;
                            }
                        }
                    }
                    &:nth-child(odd) {
                        margin-right: vw(581);
                        justify-content: flex-end;
                    }
                    .block_text {
                        margin-top: vw(10);
                        margin-right: vw(15);
                        h4, p {
                            text-align: right;
                        }
                        h4 {
                            margin-bottom: vw(4);
                        }
                        p {
                            font-size: vw(16);
                            line-height: vw(30);
                            color: #FFFFFF;

                        }
                    }
                    $animationDuration: 5s;
                    @for $i from 2 through 8 {
                        &:nth-of-type(#{$i}) {
                            .border_one {
                                animation-delay: (.3 + $i/2) + s;
                                .border_two {
                                    animation-delay: (.2 + $i/2) + s;
                                    .border_three {
                                        animation-delay: (.1 + $i/2) + s;
                                        .bg_number {
                                            animation-delay: $i/2 + s;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .border_one {
                        width: vw(120);
                        height: vw(120);
                        border: 1px solid rgba(255, 255, 255, 0.07);
                        border-radius: vw(8);
                        padding: vw(10);
                        animation-name: pulse;
                        animation-duration: $animationDuration;
                        animation-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
                        animation-iteration-count: infinite;
                        .border_two {
                            width: vw(100);
                            height: vw(100);
                            border: 1px solid rgba(255, 255, 255, 0.25);
                            border-radius: vw(8);
                            padding: vw(9);
                            animation-name: pulse;
                            animation-duration: $animationDuration;
                            animation-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
                            animation-iteration-count: infinite;
                            .border_three {
                                width: vw(80);
                                height: vw(80);
                                padding: vw(8);
                                border: 1px solid rgba(255, 255, 255, 0.5);
                                border-radius: vw(8);
                                animation-name: pulse;
                                animation-duration: $animationDuration;
                                animation-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
                                animation-iteration-count: infinite;
                                .bg_number {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background: #FFFFFF;
                                    box-shadow: 0px 4px 50px rgba(241, 162, 30, 0.35);
                                    border-radius: vw(8);
                                    font-size: vw(36);
                                    height: 100%;
                                    font-family: 'CirceBold';
                                    width: 100%;
                                    line-height: vw(36);
                                    color: #FFA400;
                                    animation-name: pulse;
                                    animation-duration: $animationDuration;
                                    animation-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
                                    animation-iteration-count: infinite;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .how_do_our {
        position: relative;
        z-index: 10;
        .container {
            padding-top: vw(60);
            .item {
                margin-bottom: vw(60);
                display: flex;
                justify-content: space-between;
                img {
                    width: vw(570);
                }
                p {
                    font-size: vw(18);
                    line-height: vw(36);
                }
            }
            .wrapper_video {
                display: flex;
                justify-content: space-between;
                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .video {
                        margin-bottom: vw(23);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        .video_banner {
                            width: vw(570) ;

                        }
                        .play {
                            width: vw(40);
                            height: vw(40);
                            background: #FFFFFF;
                            box-shadow: 10px 12px 4px rgba(255, 164, 0, 0.3);
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            img {
                                width: vw(14);
                            }
                        }
                    }
                    p {
                        font-size: vw(18);
                        font-family: 'CirceExtraBold';
                        line-height: vw(30);
                        text-align: center;;
                    }
                }

            }

        }
    }
    .want_block {
        margin-top: vw(-382);

        display: flex;
        justify-content: flex-end;
        .wrapper_block {
            background: #F2F2F2;
            width: vw(1625);
            .container {
                margin: 0 auto 0 vw(80);
                position: relative;
                padding-top: vw(382);
                padding-bottom: vw(73);
                h2 {
                    margin-bottom: vw(31);
                    text-transform: initial;
                }
                .button {
                    margin: 0 auto;
                }
                .arrow_down {
                    position: absolute;
                    bottom: vw(104);
                    right: vw(310);
                    width: vw(70);
                }
            }
        }

    }
    .exclusive_parthner {
        .container {
            padding-top: vw(60);
            padding-bottom: vw(50);
            .wrapper_items {
                display: flex;
                justify-content: space-between;
                flex-flow: row wrap;
                .item {
                    margin-bottom: vw(50);
                    display: flex;
                    align-items: flex-start;
                    width: 33%;
                    .bg_icon {
                        background: #FFFFFF;
                        box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.2);
                        border-radius: vw(6);
                        width: vw(70);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: vw(30);
                        height: vw(70);
                        img {
                            width: vw(50);
                        }
                    }
                    p {
                        font-size: vw(18);
                        line-height: vw(30);
                    }
                }
            }
        }
    }
    .buisnes_block {
        background-size: cover;
        background-repeat: no-repeat;
        background: url("../img/franchise/bg_buisnes.png");
        .container {
            padding-bottom: vw(70);
            padding-top: vw(60);
            h2 {
                color: #fff;
            }
            .wrapper_block {
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                .left_block {
                    position: relative;
                    p {
                        font-size: vw(22);
                        line-height: vw(34);
                        color: #FFFFFF;
                        margin-bottom: vw(40);
                    }
                    .button {
                        font-family: 'CirceRegular';
                    }
                    img {
                        position: absolute;
                        right: vw(300);
                        bottom: vw(15);
                        width: vw(78);
                    }
                }
                a {
                    img {
                        width: vw(354);
                    }
                }

            }
        }
    }
    .gallery {
        .container {
            padding-top: vw(60);
            img {
                width: 100%;
            }
            .top {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-auto-rows: vw(195);
                grid-gap: vw(30);
            }
            .bottom {
                margin-top: vw(20);
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-gap: vw(5);
            }
            .button {
                margin: vw(40) auto vw(47) auto;
            }
        }
    }
}

@media screen and (max-width:  1023px) {
    .fancybox-content {
        width: 95% !important;
        height: calc(100% - #{vwM(20)}) !important;
        margin: 0 !important;
    }
    .popup_form, .popup_form.login {
        z-index : 105;
        padding-top: vwM(7);
        .wrapper {
            padding: vwM(10);
            width : 95%;
            .close {
                width : vwM(14);
                height : vwM(14);
                right: vwM(5);
                top: vwM(5);
            }
            .logo {
                display: flex;
                justify-content: center;
                img {
                    width : 50%;
                    margin: 0 auto;
                }
            }
            .form {
                flex-direction: column;
                align-items: center;
                padding-bottom: vwM(40);
                label {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width : 100%;
                    &:nth-of-type(1) {
                        order: -3;
                    }
                    &:nth-of-type(2) {
                        order: -2;
                    }
                    &:nth-of-type(4) {
                        order: -1;
                    }
                    .check {
                        top: 0;
                        bottom: 0;
                        height: 100%;
                        right: vwM(10);
                        &:before {
                            font-size: vwM(14) !important;
                        }
                    }
                    &.textarea {
                        order: 1;
                    }
                    input, textarea, select {
                        margin: vwM(5) 0;
                        padding-left: vwM(15);
                        height: vwM(40);
                        width : 100%;
                        font-size: vwM(10);
                        &::-webkit-input-placeholder {
                            color: gray;
                        }
                    }
                    textarea {
                        padding-top: vwM(9);
                        height: vwM(60);
                    }
                    span {
                        display: none;
                    }
                }
                .button {
                    margin-bottom : vwM(10);
                    margin-top: vwM(5);
                    width : 100% !important;
                    order: 2;
                    font-size: vwM(14) !important;
                }
                .buttonText {
                    order: 2;
                    width: 100%;
                    p {
                        padding-right: 0 !important;
                        text-align: center !important;
                        line-height: vwM(15) !important;
                    }
                    .resend {
                        font-size     : vwM(12);
                        margin-bottom : vwM(15);
                    }
                }
            }
            .text {
                flex-direction: column;
                p {
                    width : 100%;
                    font-size : vwM(12);
                    padding-left : vwM(15);
                }
            }
            p {
                font-size : vwM(12);
                line-height: initial !important;
                a {
                    font-size: vwM(12);
                }
            }
        }
    }
    #main {
        .franchise {
            .container {
                flex-direction: column-reverse;
                .mob_main_title {
                    display: block;
                    order: 1;
                }
                .right_block {
                    .video {
                        margin-bottom: vwM(15);
                        .video_banner{
                            width: 100%;
                        }
                        .play {
                            width: vwM(40) ;
                            height: vwM(40);
                            .arrow_play {
                                width: vwM(12);
                            }
                        }
                    }

                }
                .left_block {
                    h1 {
                        display: none;
                    }
                    p {
                        font-size: vwM(15) !important;
                    }
                    .button {
                        font-size: vwM(12);
                    }
                    .transform_arrow {
                        display: none;
                    }
                }
            }
        }
        .talk_about_us {
            .container {
                .wrapper_item {
                    flex-direction: column;
                    .item {
                        width: 100%;
                        height: vwM(80);
                        margin-bottom: vwM(15);
                        img {
                            width: 50%;
                        }
                    }
                }
            }
        }
        .burger_today {
            .wrapper_block {
                width: 100%;
                .container {
                    .wrapper-items {
                        flex-direction: column;
                        .grid_s {
                            display: none;
                        }
                        .burger_box {
                            position: relative;
                            left: auto;
                            top: auto;
                            order: -1;
                            margin: 0 auto;
                            width: vwM(80);
                            height: vwM(80);
                            margin-bottom: vwM(15) !important;
                            border-radius: vwM(6);
                            img {
                                width: vwM(40);
                            }
                        }
                        .item {
                            width: 100%;
                            &:nth-child(even) {
                                flex-direction: revert;
                                .bg_item {
                                    margin-right: vwM(15);
                                    margin-left: 0;
                                }
                            }
                            &:nth-child(1) {
                                order: 0;
                            }
                            &:nth-child(2) {
                                order: 4;
                            }
                            &:nth-child(3) {
                                order: 1;
                            }
                            &:nth-child(4) {
                                order: 5;
                            }
                            &:nth-child(5) {
                                order: 2;
                            }
                            &:nth-child(6) {
                                order: 6;
                            }
                            &:nth-child(7) {
                                order: 3;
                            }
                            &:nth-child(8) {
                                order: 7;
                            }
                            .bg_item {
                                width: vwM(40);
                                height: vwM(40);
                                border-radius: vwM(6);
                                margin-right: vwM(15);
                                img {
                                    width: 80%;
                                }
                            }
                            p {
                                padding-right: 0 !important;
                            }
                        }
                    }
                }
            }
        }
        .founder {
            .container {
                flex-direction: column-reverse;
                img {
                    margin-bottom: vwM(15);
                    width: 100%;
                }
                .block_description {
                    p {
                        margin-bottom: vwM(15);
                    }
                }
            }
        }
        .block_five {
            .wrapper_block {
                width: 100%;
                background-image: initial;
                .container {
                    margin: 0 auto;
                    flex-direction: column;
                    .left_block {
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;
                        .picture_one, .picture_two {
                            position: relative;
                            top: auto;
                            left: auto;
                            right: auto;
                            bottom: auto;
                            margin-bottom: vwM(15);
                            width: 49%;
                        }
                    }
                    .right_block {
                        p {
                            margin-bottom: vwM(15);
                        }
                    }
                }
            }
        }
        .block_six {
            .container {
                flex-direction: column-reverse;
                .block_right {
                    justify-content: space-between;
                    align-items: center;
                    //flex-direction: column;
                    img {
                        width: 49%;
                        margin-left: 0 !important;
                        margin-bottom: vwM(15);
                    }
                }
                .block_text {
                    p {
                        margin-bottom: vwM(15);
                    }
                }
            }
        }
        .block_seven {
            .wrapper_block {
                width: 100% ;
                .container {
                    .wrapper-page {
                        flex-direction: column;
                        .left_block {
                            width: 100%;
                            justify-content: space-between;
                            .picture_two, .picture_one {
                                position: relative;
                                top: auto;
                                width: 49%;
                                margin-bottom: vwM(15);
                                left: auto;
                                bottom: auto;
                                right: auto;
                            }
                        }
                        .right_block {
                            p {
                                margin-bottom: vwM(15);
                            }
                        }
                    }
                    .button {
                        font-size: vwM(12);
                    }
                }
            }
        }
        .fair_term {
            .container {
                .wrapper_page {
                    flex-direction: column;
                    .item {
                        align-items: center;
                        width: 100%;
                        margin-bottom: vwM(10);
                        img {
                            margin-right: vwM(10);
                            width: vwM(30);
                        }
                        .right_wrapper {
                            h3 {
                                text-align: left !important;
                                padding-bottom: vwM(0) !important;
                                font-size : vwM(16) !important;
                                line-height : vwM(18) !important;
                            }
                            p {
                                display: initial;
                                font-size: vwM(13) !important;
                            }
                            .gray_text {
                                margin-left: vwM(5);
                            }
                        }
                    }
                }
            }
        }
        .franchise_selection_criteria {
            .container {
                .wrapper_items {
                    flex-direction: column;
                    .item {
                        width: 100%;
                        margin-bottom: vwM(10);
                        .bg_icon {
                            width: vwM(26);
                            height: vwM(26);
                            margin-right: vwM(10);
                            img {
                                width: 80%;
                            }
                        }
                        p {
                            padding-right: 0 !important;
                        }
                    }
                }
            }
            .wrapper_text {
                position: relative;
                top: auto;
                right: auto;
                bottom: auto;
                left: auto;
                width: 100% ;
                padding: vwM(15) 0;
            }
        }
        .block_slider {
            .wrapper_slider {
                width: 100%;
                .container {
                    margin: 0 auto;
                    .nav_slider {
                        justify-content: space-between;
                        margin-bottom: vwM(15);
                        button {
                            width: vwM(30);
                            height: vwM(30);
                            background: #AEAEAE;
                            border-radius: 50%;
                            border: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &.active {
                                background: $osn-col;
                            }
                            &.prev {
                                transform: rotate(180deg);
                            }
                            img {
                                width: 50%;
                            }
                        }
                        .num {
                            display: flex;
                            align-items: center;
                            font-family: "CirceBold";
                            font-size: vwM(18);
                            div {
                                color: #AEAEAE;
                                &.active {
                                    color: #000;
                                }
                            }
                            span {
                                display: flex;
                                width: vwM(25);
                                border-bottom: 1px solid #AEAEAE;
                                margin: 0 vwM(8);
                            }
                        }
                    }
                    .slick-list {
                        overflow: hidden;
                    }
                    .slide {

                        h3 {
                            margin-top: vwM(5);
                            padding-bottom: 0 !important;
                            margin-bottom: vwM(10) !important;
                        }

                        p.strong {
                            white-space: pre-line !important;
                            text-align: center !important;
                        }

                    }
                }
            }
        }
        .seven_steps_to_discover {
            .container {
                .wrapper_columns {
                    .line {
                        display: none;
                    }
                    .bg_burger {
                        display: none;
                    }
                    .item {
                        width: 100%;
                        margin: 0!important;
                        margin-bottom: vwM(15) !important;
                        flex-direction: column-reverse !important;
                        .border_one {
                            margin: 0 auto;
                            width: vwM(70);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0;
                            height: vwM(70);
                            .border_two {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: vwM(60);
                                padding: 0;
                                height: vwM(60);
                                .border_three {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: vwM(50);
                                    padding: 0;
                                    height: vwM(50);
                                    .bg_number {
                                        width: vwM(40);
                                        height: vwM(40);
                                        font-size: vwM(24);
                                    }
                                }
                            }
                        }
                    }
                }
                .button {
                    font-size: vwM(12);
                }
            }
        }
        .how_do_our {
            .container {
                .item {
                    flex-direction: column-reverse;
                    img {
                        margin-bottom: vwM(15);
                        width: 100%;
                    }
                }
                .wrapper_video {
                    flex-direction: column;
                    .item {
                        margin-bottom: vwM(20);
                        .video {
                            .video_banner {
                                width: 100%;
                                margin-bottom: 0;
                            }
                            .play {
                                width: vwM(40);
                                height: vwM(40);
                                .arrow_play {
                                    width: vwM(12);
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .want_block {
            .wrapper_block {
                width: 100%;
                .container {
                    margin: 0 auto;
                    .arrow_down {
                        display: none;
                    }
                    .button {
                        font-size: vwM(12);
                    }
                }
            }
        }
        .exclusive_parthner {
            .container {
                .wrapper_items {
                    flex-direction: column;
                    .item {
                        width: 100%;
                        align-items: center;
                        margin-bottom: vwM(20);
                        .bg_icon {
                            margin: 0 auto;
                            margin-right: vwM(10);
                            min-width: vwM(40);
                            height: vwM(40);
                            img {
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }
        .buisnes_block {
            .container {
                .wrapper_block {
                    flex-direction: column-reverse;
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 60%;
                            margin-bottom: vwM(15);
                        }
                    }

                    .left_block {
                        .button {
                            font-size: vwM(12);;
                        }
                        img {
                            display: none;
                        }
                    }
                }
            }
        }
        .gallery {
            .container {
                .top {
                    grid-gap: vwM(10);
                    grid-auto-rows: vwM(50);
                }
                .bottom {
                    margin-top: vwM(10);
                    grid-gap: vwM(5);
                }
                .button {
                    margin: vwM(10) 0;
                }
            }
        }
    }
}

@import "popup_application";