@import "_all-page.scss";

#main {
    .block_loyalty {
        position: relative;
        background: linear-gradient( 55deg, rgb(204,133,9) 0%, rgb(242,175,58) 100%);
        overflow-y: hidden;
        .img_abs {
            position: absolute;
            bottom : 0;
            left : 0;
            img {
                width : $a320;
            }
        }
        .abs1 {
            background-color: rgba(250, 164, 17, .2);
            width: $a97;
            height: $a97;
            left : 0;
            bottom : $a44;
        }
        .abs2 {
            background-color: rgba(255, 255, 255, .102);
            width : $a31;
            height : $a31;
            top : $a107;
            left : $a266;
        }
        .abs3 {
            background-color: rgba(255, 255, 255, .102);
            width : $a38;
            height : $a38;
            top : $a127;
            left : $a286;
        }
        .abs4 {
            background-color: rgba(255, 255, 255, .2);
            width: $a131;
            height: $a90;
            left : $a530;
            top : 0;
        }
        .abs5 {
            background-color: rgba(255, 255, 255, .2);
            width: $a97;
            height: $a97;
            right : $a24;
            bottom : 0;
        }
        .abs6 {
            background-color: rgba(255, 255, 255, .2);
            width: $a43;
            height: $a43;
            right : $a99;
            bottom : $a72;
        }
        .abs7 {
            z-index : 0;
            top : $a180;
            right : $a320;
            background-color: rgb(241, 163, 28);
            width: $a141;
            height: $a141;
        }
        .container {
            display: flex;
            justify-content : space-between;
            padding-top : $a139;
            padding-bottom : $a140;
            .loyalti_program {
                h2 {
                    font-size : $a48;
                    line-height : $a60;
                    font-family: 'CirceExtraBold';
                    white-space: pre-line;
                    text-transform : uppercase;
                    color: #fff;
                }
                .item {
                    padding: $a24 0 $a53 ;
                    display: flex;
                    align-items: center;
                    .line {
                        margin-right: $a20;
                        display: block;
                        width: $a20;
                        content: '';
                        border-bottom: $a4 solid #fff;
                    }
                    p {
                        font-family: 'CirceExtraBold';
                        font-size : $a24;
                        color: #fff;
                    }
                }
            }
            .brd {
                position: relative;
                z-index : 1;
                height : $a320;
                padding: $a17;
                border-radius: $a15;
                border: $a6 dashed #fff;
                .banner {
                    height : 100%;
                    border-radius: $a15;
                    padding: $a20 $a41;
                    background: #fff;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .fw {
                        font-size : $a18;
                        font-family: 'CirceExtraBold';
                        margin-bottom : $a25;
                    }
                    span {
                        line-height : $a50;
                        text-align: center;
                        white-space: pre-line;
                        font-size : $a54;
                        font-family: 'CirceExtraBold';
                        color: #f3a21b;
                    }
                    p {
                        margin-top : $a15;
                        font-size : $a18;
                        font-family: 'CirceRegular';
                    }
                }
            }
        }
    }
    .work_program {
        position: relative;
        .abs1 {
            top : 0;
            left : 0;
            background-color: rgb(229, 229, 229);
            width: $a67;
            height: $a206;
            z-index : -1;
        }
        .abs2 {
            background-color: rgb(229, 229, 229);
            width: $a140;
            height: $a100;
            right : 0;
            bottom : 0;
            z-index : -1;
        }
        .abs3 {
            background-color: rgb(253, 240, 221);
            width: $a174;
            height: $a173;
            left : $a305;
            top : $a195;
        }
        .container{
            padding-bottom : $a100;
            padding-top : $a56;
            .burger {
                margin-bottom : $a25;
            }
            h2 {
                font-family: 'CirceBold';
                font-size : $a48;
                line-height : $a36;
                text-transform : uppercase;
                text-align: center;
                margin-bottom : $a70;
            }
            .instructions {
                position: relative;
                display: flex;
                justify-content : space-between;
                .dotted {
                    position: absolute;
                    top : 27%;
                    color: #e9a327;
                    font-size : $a18;
                    right : 25%;
                }
                .item {
                    .block_number {
                        margin-bottom : $a36;
                        overflow: hidden;
                        z-index : 1;
                        position: relative;
                        display: flex;
                        justify-content : center;
                        align-items : flex-end;
                        height : $a220;
                        background-color: rgb(234, 234, 234);
                        width : $a370;
                        img {
                            width : $a250;
                        }
                        span {
                            z-index : -1;
                            position: absolute;
                            font-family: 'CirceExtraBold';
                            font-size : $a220;
                            line-height : $a36;
                            color: #c9c9c9;
                            top : $a42;
                            right : -$a20;
                        }
                    }
                    .img_size {
                        img {
                            width : $a235;
                        }
                        span {
                            right: -$a30;
                        }
                    }
                    .img_size1 {
                        display: flex;
                        justify-content : center;
                        align-items: center;
                        img {
                            width : $a280;
                        }
                        span {
                            right: -$a35;
                        }
                    }
                    h3 {
                        margin-bottom : $a15;
                        font-size : $a24;
                        line-height : $a26;
                        white-space: pre-line;
                        font-family: 'CirceExtraBold';
                        //text-transform : uppercase;
                        text-align: center;
                    }
                    p {
                        font-size : $a18;
                        line-height : $a30;
                        font-family: 'CirceRegular';
                        //margin-left : $a10;
                    }
                }
            }
        }
    }
    .background {
        height : $a230;
        background: #342415;
        margin-bottom : $a93;
        img {
            width : 100%;
        }
        .container {
            position: relative;
            .wrapper {
                display: flex;
                flex-direction: column;
                justify-content : center;
                padding-left : $a42;
                //margin-left : $a30;
                z-index : 2;
                top : -$a270;
                position: absolute;
                background-color: rgb(255, 255, 255);
                box-shadow: 0 $a32 $a81 $a3 rgba(0, 3, 1, 0.11);
                width: $a670;
                height: $a300;
                p {
                    font-family: 'CirceRegular';
                    font-size : $a34;
                    line-height : $a60;
                    b {
                        font-family: 'CirceExtraBold';
                        .color {
                            color: #dc932a;
                        }
                    }
                }
            }
            .descr {
                position: absolute;
                top : -$a230;
                right : 0;
                display: flex;
                img {
                    margin-top : $a30;
                    transform: rotate(180deg);
                    width : $a47;
                }
                .text {
                    margin-left : $a20;
                    p {
                        color: #fff;
                        margin-top : $a35;
                        font-size : $a24;
                        line-height : $a30;
                        font-family: 'CirceRegular';
                    }
                }
            }
        }
    }
    .restorant_points {
        //display: none;
        position: relative;
        .abs1 {
            background-color: rgb(229, 229, 229);
            width: $a74;
            height: $a74;
            top : $a35;
            left : $a193;
        }
        .abs2 {
            background-color: rgba(216, 216, 216, .502);
            width: $a46;
            height: $a46;
            top : $a81;
            left : $a240;
        }
        .abs3 {
            background-color: rgb(253, 240, 221);
            width: $a166;
            height: $a194;
            right : $a300;
            top : $a40;
        }
        .container {
            display: flex;
            justify-content : space-between;
            .waste_of_points {
                padding-bottom : $a40;
                .burger {
                    justify-content: flex-start;
                    span:before {
                        content: none;
                        width : 0;
                        border: none;
                    }
                }
                h2 {
                    white-space: pre-line;
                    text-transform : uppercase;
                    font-family: 'CirceBold';
                    font-size : $a48;
                    line-height : $a54;
                }
                p {
                    margin-top : $a33;
                    margin-bottom : $a33;
                    font-family: 'CirceBold';
                    font-size : $a18;
                    line-height : $a30;
                }
            }
            .image {
                display: flex;
                //align-items : flex-end;
                justify-content : center;
                position: relative;
                img {
                    width : $a570;
                }
                .text {
                    position: absolute;
                    bottom : $a15;
                    font-size : $a18;
                    text-align: center;
                    white-space: pre-line;
                    line-height : $a36;
                    font-family: 'CirceRegular';
                }
            }
        }
    }
    .advantages_mob {
        background: #f4f4f4;
        padding: $a55 0 $a100;
        position: relative;
        .abs1 {
            opacity  : 0.5;
            position : absolute;
            width    : $a230;
            background: #ececec;
            height   : $a226;
            top : $a145;
            z-index : 0;
            left : $a140;

        }
        .abs2 {
            background: #e4e4e4;
            position : absolute;
            width    : $a121;
            height : $a119;
            top : $a290;
            left : $a85;
        }
        .abs3 {
                background-color: rgb(227, 158, 51);
                opacity: 0.2;
                left : $a540;
                top : $a100;
                position: absolute;
                width: $a273;
                height: $a190;
        }
        .abs4 {
            background-color : rgb(227, 158, 51);
            position         : absolute;
            width  : $a17;
            right : $a100;
            top : $a130;
            height : $a204;
        }
        .abs5 {
                background-color: rgb(241, 163, 28);
                opacity: 0.149;
                position: absolute;
                width: $a179;
                height: $a179;
            right : $a245;
            bottom : $a105;

        }
        .abs6 {
              background-color: rgb(241, 163, 28);
                opacity: 0.149;
                position: absolute;
                width: $a75;
                height: $a75;
            right : $a218;
            bottom : $a250;
        }
        .left_block {
            position: absolute;
            width : $a799;
            left : $a50;
            z-index : 2;
        }
        .container {
            display: flex;
            justify-content: flex-end;
            .right_block {
                width : 50%;
                .burger {
                    justify-content: flex-start;
                    span:before {
                        content: none;
                        width : 0;
                        border: none;
                    }
                }
                h2 {
                    white-space: pre-line;
                    text-transform : uppercase;
                    font-family: 'CirceBold';
                    font-size : $a48;
                    line-height : $a54;
                }
                ul {
                    margin-top : $a40;
                    margin-bottom : $a30;
                    li {
                        font-size : $a18;
                        white-space: pre-line;
                        margin-bottom : $a5;
                        display: flex;
                        padding-left : $a20;
                        position : relative;
                        align-items: center;
                        &:before {
                            content: "";
                            position: absolute;
                            left : 0;
                            border-radius: 52%;
                            background-color: rgb(222, 148, 47);
                            width: $a7;
                            height: $a7;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    #main {
        .block_loyalty {
            .container {
                flex-direction: column;
                align-items: center;
                .loyalti_program {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h2 {
                        text-align: center !important;
                        line-height : normal;
                    }
                    .item {
                        p {
                            padding-right : 0 !important;
                        }
                    }
                    .button {
                        margin-bottom : $m10;
                    }
                }
                .brd {
                    height: auto;
                    width : 95%;
                    .banner {
                        height: auto;
                        .fw {
                            font-size : $m14 !important;
                            margin: 0;
                        }
                        span {
                            white-space: normal;
                            font-size : $m14;
                            margin: $m5 0;
                        }
                        p {
                            font-size : $m14 !important;
                            padding : 0 !important;
                            margin-top : 0 !important;
                        }
                    }
                }
            }
        }
        .work_program {
            .container {
                padding-bottom : 0 !important;
                .instructions {
                    flex-direction: column;
                    .dotted {
                        display: none;
                    }
                    .item {
                        .block_number {
                            height: $m140;
                            width : 100%;
                            img {
                                width : 50%;
                            }
                            span {
                                font-size : $m62;
                                top : $m20;
                            }
                        }
                        h3 {
                            line-height : normal;
                            padding-bottom : 0 !important;
                            margin-bottom : 0 !important;
                        }
                        p {
                            margin-left : 0 !important;
                            margin-bottom : $m10 !important;
                        }
                        .img_size1 {
                            img {
                                width : 70%;
                            }
                        }
                    }
                }
            }
        }
        .background {
            padding-top : $m10;
            padding-bottom : $m10;
            height: auto;
            img {
                display: none;
            }
            .container {
                position: relative;
                .wrapper {
                    padding : $m10;
                    top : 0;
                    width : 100%;
                    position: relative;
                    height: auto;
                }
                .descr {
                    img {
                        display: none;
                    }
                    top : 0;
                    position: relative;
                    .text {
                        margin-left : 0;
                    }
                }
            }
        }
        .restorant_points {
            .container {
                justify-content : center;
                flex-flow: row-reverse wrap-reverse;
                .waste_of_points {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .button {
                        display: flex;
                        justify-content : center;
                        align-items: center;
                        margin-bottom : $m10;
                        //height: auto;
                        a {
                            padding : $m5 $m20;
                            font-size : $m18;
                        }
                    }
                    .burger {
                        span:before {
                            display: block;
                            content: '';
                            border-bottom: 1px solid #e5a441;
                            width: 9.375vw;
                            margin-bottom: 0;
                            margin-left: 1.5625vw;
                            margin-top: 1.5625vw;
                        }
                    }
                }
                .image {
                    margin-bottom : $m10;
                    width : 100%;
                    img {
                        width : 90%;
                    }
                    .text {
                        font-size : $m11;
                        text-align: center;
                    }
                }
            }
        }
        .advantages_mob {
            display: flex;
            flex-direction: column;
            align-items: center;

            .left_block {
                position: relative;
                width : 60%;
            }
            .container {
                .right_block {
                    margin-top : $m15;
                    width : 100%;
                    .button {
                        margin : 0 auto;
                    }
                    .burger {
                        justify-content: center;
                        span:before {
                            display: block;
                            content: '';
                            border-bottom: 1px solid #e5a441;
                            width: 9.375vw;
                            margin-bottom: 0;
                            margin-left: 1.5625vw;
                            margin-top: 1.5625vw;
                        }
                    }
                    ul {
                        li {
                            align-items: flex-start;
                            font-size : $m12;
                            padding-left : $m15;
                            &:before {
                                margin-top : $m5;
                                width: $m7;
                                height: $m7;
                            }
                        }
                    }
                }

            }
        }
    }
}
