@import "_all-page.scss";

.container {
    h2 {
        font-family: 'CirceBold';
        font-size : $a48;
        line-height : $a54;
        white-space: pre-line;
        text-transform : uppercase;
        text-align: center;
        margin-bottom : $a48;
    }
}

#main {
    .personal_area {
        position: relative;
        .abs1 {
            background-color: rgba(241, 163, 28, .102);
            width: $a39;
            height: $a39;
            top : $a90;
            left : $a75;
        }
        .abs2 {
            background-color: rgba(241, 163, 28, .102);
            width: $a179;
            height: $a179;
            top : $a109;
            left : $a94;
        }
        .abs3 {
            background-color: rgba(0, 0, 0, .102);
            width: $a75;
            height: $a56;
            top : 0;
            right : $a228;
        }
        .abs4 {
            background-color: rgba(0, 0, 0, .059);
            width: $a37;
            height: $a37;
            top : $a33;
            right : $a215;
        }
        .abs5 {
            background-color: rgba(0, 0, 0, .102);
            width: $a110;
            height: $a110;
            right : $a118;
            top : $a439;
        }
        .abs6 {
            background-color: rgba(241, 163, 28, .102);
            width: $a179;
            height: $a179;
            right : $a355;
            top : $a694;
        }
        .abs7 {
            background-color: rgb(227, 158, 51);
            width: $a12;
            height: $a280;
            right : $a388;
            bottom : $a90;
        }
        .abs8 {
            background-color: rgb(227, 158, 51);
            width: $a12;
            height: $a280;
            left : $a403;
            top : $a214;
        }
        .container {
            position: relative;
            padding-bottom : $a130;
            padding-top : $a28;
            .pos_block {
                top : $a40;
                align-items: center;
                position : absolute;
                right : 0;
                display: flex;
                flex-direction: column;
                p {
                    margin-bottom : $a5;
                    font-size : $a18;
                    line-height : $a30;
                    font-family: 'CirceBold';
                }
                .bg {
                    padding: 0 $a17;
                    display: flex;
                    align-items: center;
                    border-radius: $a8;
                    background-color: rgb(241, 163, 28);
                    box-shadow: 0 $a20 $a41 $a3 rgba(0, 0, 0, 0.18);
                    span {
                        color: #fff;
                        font-size : $a60;
                        margin-right : $a12;
                        font-family: 'CirceExtraBold';
                    }
                    .img {
                        display: flex;
                        align-items : flex-end;
                        img {
                            display: block;
                            width : $a58;
                        }
                    }
                }
            }
            .content {
                position : relative;
                z-index : 1;
                width : $a870;
                margin: 0 auto;
                form {
                    justify-content : space-between;
                    display: flex;
                    align-items: center;
                    margin-bottom : $a24;
                    label {
                        display: flex;
                        align-items: center;
                        .text {
                            font-size : $a26;
                            line-height : $a36;
                            font-family: 'CirceBold';
                            margin-right : $a38;
                        }
                        .text1 {
                            margin-right : $a122;
                        }
                        .item {
                            height : $a70;
                            width : $a443;
                            border-radius: $a6;
                            border: 2px solid #e6e6e6;
                            padding: 0 $a20;
                            &:focus {
                                border: 2px solid cornflowerblue;
                            }
                        }
                    }
                    .button {
                        padding: 0 $a40;
                    }
                    .descr {
                        display: flex;
                        align-items: center;
                        .text {
                            margin-right : $a15;
                            font-size : $a26;
                            line-height : $a36;
                            font-family: 'CirceBold';
                        }
                        .info {
                            border-width: 1px;
                            border-color: rgb(241, 163, 28);
                            border-style: solid;
                            border-radius: 50%;
                            width: $a22;
                            height: $a22;
                            display: flex;
                            justify-content : center;
                            align-items: center;
                            cursor: pointer;
                            span {
                                font-size : $a16;
                                line-height : $a20;
                                font-family: 'CirceRegular';
                                color: rgb(241, 163, 28);
                            }
                        }
                    }
                    .wrap {
                        align-items: center;
                        display: flex;
                        position: relative;
                        select {
                            cursor: pointer;
                            border: 2px solid #e6e6e6;
                            appearance: none;
                            border-radius: $a6;
                            height : $a70;
                            width : $a135;
                            color: #a0a0a0;
                            font-size : $a18;
                            line-height : $a30;
                            font-family: 'CirceRegular';
                            padding-left : $a26;
                            display: flex;
                        }
                        .arrow_down {
                            right : $a12;
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-left: $a10 solid transparent;
                            border-right: $a10 solid transparent;
                            border-top: $a10 solid #e39e33;
                        }
                    }
                    .male, .female {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        input[type="checkbox"] {
                            display: none;
                        }
                        input[type=checkbox]:checked + .custom-checkbox::before {
                            content: "\2714";
                        }
                        .custom-checkbox {
                            display: block;
                            border: $a4 solid #f1a31c;
                            border-radius: $a6;
                            width: $a48;
                            height: $a48;
                            margin-right : $a12;
                            display: flex;
                            align-items: center;
                            justify-content : center;
                            font-size : $a38;
                            color: #f1a31c;
                        }
                        .text {
                            font-size : $a18 !important;
                            line-height : $a30;
                            font-family: 'CirceBold';
                        }
                    }
                    .female {
                        margin-left : -$a90;
                    }
                    .text {
                        font-size : $a26;
                        line-height : $a36;
                        font-family: 'CirceBold';
                    }
                    .wrapper {
                        width : $a635;
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        justify-content: space-between;
                        input::-webkit-input-placeholder {
                            color: #a0a0a0;
                        }
                        input[type="text"] {
                            font-size : $a18;
                            line-height : $a30;
                            font-family: 'CirceRegular';
                            padding: 0 $a20;
                            height : $a70;
                            border-radius: $a6;
                            border: 2px solid #e6e6e6;
                            margin-bottom : $a16;
                            &:focus {
                                border: 2px solid cornflowerblue;
                            }
                        }
                        .street {
                            width : $a400;
                        }
                        .number_house {
                            width : $a216;
                        }
                        .porch, .floor, .apartment, .door_code {
                            width : $a146;
                        }
                        .button {
                            padding: 0 $a43;
                        }
                        p {
                            font-size : $a18;
                            line-height : $a30;
                            font-family: 'CirceBold';
                        }
                    }
                }
                .form {
                    align-items : flex-start;
                    .text {
                        margin-top : $a16;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1023px) {
    #main {
        .personal_area {
            .container {
                .pos_block {
                    margin-bottom : $m15;
                    position: relative;
                    p {
                        padding : 0 !important;
                    }
                    .bg {
                        justify-content : center;
                        width : 70%;
                        span {
                            margin-right : $m20;
                            font-size : $m50;
                        }
                        .img {
                            img {
                                width : $m40;
                            }
                        }
                    }
                }
                .content {
                    width : 100%;
                    form {
                        flex-direction: column;
                        width : 100%;
                        .wrapper {
                            width : 100%;
                            flex-direction: column;
                            input {
                                width : 100% !important;
                                height : $m50 !important;
                                font-size : $m16 !important;
                                padding-left : $m10 !important;
                                margin-bottom : $m5 !important;
                            }
                            p {
                                margin: $m10 0;
                            }
                        }
                        .text {
                            margin-bottom : $m10;
                            font-size : $m20;
                            line-height : normal;
                        }
                        .male, .female {
                            flex-direction: row;
                            margin: 0;
                            .custom-checkbox {
                                width : $m25;
                                height : $m25;
                                margin-right : $m10;
                                margin-bottom : $m15;
                            }
                            .text {
                                font-size : $m15 !important;
                            }
                        }
                        .descr {
                            width : 100%;
                            .info {
                                display: none;
                            }
                            .text {
                                font-size : $m20;
                                line-height : normal;
                                margin-bottom : $m10;
                            }
                        }
                        .wrap {
                            width : 100%;
                            margin-bottom : $m15;
                            select {
                                width : 100%;
                                height : $m50;
                                font-size : $m20;
                                line-height : normal;
                            }
                            .arrow_down {
                                right : $m10;
                                border-left: $m5 solid transparent;
                                border-right: $m5 solid transparent;
                                border-top: $m5 solid #e39e33;
                            }
                        }
                        .button {
                            margin-bottom : $m15;
                            width : 100%;
                            font-size : $m20;
                        }
                        label  {
                            width : 100%;
                            flex-direction: column;
                            align-items : flex-start;
                            input {
                                height : $m50 !important;
                                width : 100% !important;
                                margin-bottom : $m15;
                            }
                            span {
                                margin-bottom : $m5;
                                font-size : $m20 !important;
                                line-height : normal !important;
                            }
                        }
                    }
                }
            }
        }
    }
}