@import "_all-page.scss";

.header_nav {
    z-index : 1;
}

    .footer_head {
        background: #f4f4f4;
    }

#main {
    .block_restaurant {
        width : 100%;
        background: linear-gradient(to bottom, #fff 46%,  #f4f4f4 1%);
        .container {
            padding-bottom : $a60;
            padding-top : $a28;
            h1 {
                text-transform : uppercase;
                text-align: center;
                font-size : $a48;
                line-height : $a36;
                font-family: 'CirceBold';
                margin : $a30 0 $a10 0;
            }
            .content {
                display: flex;
                justify-content : space-between;
                .yudgin_univer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .holder {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                         margin-top : $a35;
                        margin-bottom : $a10;
                    }
                    h2 {
                       
                        font-size : $a42;
                        line-height : $a36;
                        font-family: 'CirceExtraBold';
                        text-transform : uppercase;
                    }
                    p {
                        font-size : $a30;
                        line-height : $a36;
                        font-family: 'CirceRegular';
                    }
                    .img {
                        position: relative;
                        z-index : 1;
                        margin-top : $a28;
                        margin-bottom : $a34;
                        img {
                            width : $a550;
                        }
                    }
                    .shedule {
                        width : 100%;
                        padding-left : $a74;
                        .item {
                            display: flex;
                            align-items: center;
                            .box {
                                box-shadow: none;
                                margin-bottom : $a8;
                                margin-right : $a19;
                                border-radius: $a6;
                                background: #e39e33;
                                width: $a56;
                                height: $a56;
                                img {
                                    width : $a32;
                                }
                            }
                            p {
                                font-family: 'CirceExtraBold';
                                font-size : $a18;
                                line-height : $a36;
                                text-transform : uppercase;
                            }
                            span {
                                font-family: 'CirceBold';
                            }
                        }
                    }
                }
            }
        }
    }
}

.block_restaurant {
    position: relative;
    .abs1, .abs3 {
        top : $a90;
        left : $a70;
        width: $a39;
        height: $a39;
        background-color: rgba(241, 163, 28, .102);
    }
    .abs2 {
        background-color: rgba(241, 163, 28, .2);
        width: $a158;
        height: $a158;
        top : -$a70;
        left : $a312;
        z-index : 0;
    }
    .abs3 {
        top : $a62;
        left : $a450;
    }
    .abs4 {
        width: $a75;
        height: $a56;
        background: #e5e5e5;
        opacity: .4;
        right : $a228;
        top : 0;
    }
    .abs5 {
        width: $a37;
        height: $a37;
        background: #e5e5e5;
        opacity: .2;
        top : $a33;
        right : $a215;
    }
    .abs6 {
        background: #e5e5e5;
        opacity: 0.4;
        left: $a57;
        top: $a507;
        width: $a75;
        height: $a75;
    }
    .abs7 {
        z-index : 0;
        background-color: rgb(227, 158, 51);
        left: $a305;
        top: $a460;
        width: $a65;
        height: $a12;
    }
    .abs8 {
        background-color: rgb(227, 158, 51);
        right: $a383;
        bottom: $a218;
        width: $a12;
        height: $a80;
        z-index: 0;
    }
    .abs9 {
        background: #e5e5e5;
        opacity: .8;
        height: $a110;
        width : $a20;
        bottom : $a690;
        right : $a352;
    }
    .abs10 {
        height : $a158;
        background-color: rgba(241, 163, 28, .102);
        width : $a65;
        right : $a305;
        bottom : $a570;
    }
}

.footer_title {
    background: #f4f4f4;
}


@media screen and (max-width: 1023px) {
    #main {
        .block_restaurant {
            .container {
                h1 {
                    margin-top : $m10;
                    margin-bottom : 0 !important;
                }
                .content {
                    flex-direction: column;
                    .yudgin_univer {
                        .box {
                            //margin-right : $m10;
                            width : $m30;
                            height : $m30;
                            border-radius: $m3;
                            img {
                                width : 60%;
                            }
                        }
                        h2 {
                            margin: 0;
                            //margin-top : $m15;
                            line-height: normal;
                            padding : 0 !important;
                        }
                        p {
                            padding : 0 !important;
                            font-size : $m14 !important;
                        }
                        .img {
                            img {
                                width : 100%;
                            }
                        }
                        .shedule {
                            margin-top : $m10;
                            margin-bottom : $m15;
                            .item {
                                margin-bottom: $m5;
                                .box {
                                    width : $m25;
                                    height : $m25;
                                    img {
                                        width : 60%;
                                    }
                                }
                                span {
                                    font-size : $m12;
                                    margin-left: $m5;
                                    a {
                                        font-size: $m12;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}