<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Franchise</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" type="text/css" href="font-awesome/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/franchise.css" />
    <link rel="stylesheet" type="text/css" href="fonts/fonts.css" />
    <script src="js/vue.min.js"></script>
</head>
<body>
    <header  id="header">
        <div class="header_nav">
            <div class="container">
                <a href="/" class="logo">
                    <div class="box">
                        <img src="img/investments/header/burger.png" alt="burger" />
                    </div>
                    <div class="logo_p">
                        <picture>
                            <source srcset="img/mobi/investments/header/logo.png" media="(max-width: 575px)">
                            <img src="img/investments/header/logo.png" alt="default_logo" />
                        </picture>
                        <p>Сеть бургерных ресторанов</p>
                    </div>
                </a>
                <nav class="nav">
                    <ul class="menu">
                        <li>
                            <a href="#about_the_network">О сети</a>
                        </li>
                        <li>
                            <a href="#conditions">Условия</a>
                        </li>
                        <li>
                            <a href="#formats">Форматы</a>
                        </li>
                        <li>
                            <a href="#seven_steps">7 Шагов к открытию </a>
                        </li>
                        <li>
                            <a href="#privilege_parthners">Привилегии партнерам</a>
                        </li>
                    </ul>
                </nav>
                <div class="burger_menu"></div>
            </div>
        </div>

    </header>
    <div id="holder">

        <div  class="mobile-menu">
            <div class="container">
                <div class="close_burger"></div>
                <nav class="nav">
                    <ul class="menu">
                        <li>
                            <a href="#about_the_network">О сети</a>
                        </li>
                        <li>
                            <a href="#conditions">Условия</a>
                        </li>
                        <li>
                            <a href="#formats">Форматы</a>
                        </li>
                        <li>
                            <a href="#seven_steps">7 Шагов к открытию </a>
                        </li>
                        <li>
                            <a href="#privilege_parthners">Привилегии партнерам</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <main id="main">
            <div class="franchise">
                <div class="container">
                    <h1 class="mob_main_title">ФРАНШИЗА СЕТИ
                        <span class="color">ЮДЖИН БУРГЕР</span></h1>
                    <div class="left_block">
                        <h1>ФРАНШИЗА СЕТИ
                            <span class="color">ЮДЖИН БУРГЕР</span></h1>
                        <p><span class="color">Откройте прибыльный и узнаваемый
                            ресторан</span> в своем городе по надежной
                            франшизе <span class="color">всего за 2 месяца.</span> С полной
                            поддержкой и поэтапным сопровождением</p>
                        <button class="button" @click="popupForm = true">ОТПРАВИТЬ ЗАЯВКУ НА ФРАНШИЗУ</button>
                        <img class="transform_arrow wow rotateInUpLeft" data-wow-duration="500ms" src="img/franchise/curved_arrow.svg" alt="arrow-transform" />
                    </div>
                    <div class="right_block wow zoomIn" data-wow-duration="500ms">
                        <a data-fancybox href="https://www.youtube.com/watch?v=6UBRFq8akdM&feature=youtu.be" class="video">
                            <span class="play">
                                <img class="arrow_play" src="img/franchise/play-button-arrow.png" alt="arrow">
                            </span>
                            <img class="video_banner" src="img/franchise/play_banner.png" alt="banner video">
                        </a>
                    </div>
                </div>
            </div>
            <div class="talk_about_us">
                <div class="container">
                    <h2>О НАС ГОВОРЯТ</h2>
                    <div class="wrapper_item">
                        <div class="item wow fadeIn" data-wow-delay="00ms">
                            <img src="img/franchise/posteat.png" alt="posteat" />
                        </div>
                        <div class="item wow fadeIn" data-wow-delay="100ms">
                            <img src="img/franchise/mc_today.png" alt="mc_today" />
                        </div>
                        <div class="item wow fadeIn" data-wow-delay="200ms">
                            <img src="img/franchise/tomato.png" alt="tomato" />
                        </div>
                        <div class="item wow fadeIn" data-wow-delay="300ms">
                            <img src="img/franchise/village.png" alt="village" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="burger_today" id="about_the_network">
                <div class="wrapper_block">
                    <div class="container">
                        <h2>ЮДЖИН БУРГЕР СЕГОДНЯ</h2>
                        <div class="wrapper-items">
                            <div class="item wow fadeInLeft" data-wow-delay="00ms">
                                <div class="bg_item">
                                    <img src="img/franchise/icons/restaurant.svg" alt="icon" />
                                </div>
                                <p>7 открытых ресторанов и 3 в запуске</p>
                            </div>
                            <div class="item wow fadeInRight" data-wow-delay="00ms">
                                <div class="bg_item">
                                    <img src="img/franchise/icons/growth.svg" alt="icon" />
                                </div>
                                <p>Продуманное меню и ценообразование</p>
                            </div>
                            <div class="item wow fadeInLeft" data-wow-delay="100ms">
                                <div class="bg_item">
                                    <img src="img/franchise/icons/team.svg" alt="icon" />
                                </div>
                                <p>40 000 посетителей ежемесячно</p>
                            </div>
                            <div class="item wow fadeInRight" data-wow-delay="100ms">
                                <div class="bg_item">
                                    <img src="img/franchise/icons/teamwork.svg" alt="icon" />
                                </div>
                                <p>Команда из 80 сотрудников</p>
                            </div>
                            <div class="item wow fadeInLeft" data-wow-delay="200ms">
                                <div class="bg_item">
                                    <img src="img/franchise/icons/laptop.svg" alt="icon" />
                                </div>
                                <p>Продвинутые IT-технологии</p>
                            </div>
                            <div class="item wow fadeInRight" data-wow-delay="200ms">
                                <div class="bg_item">
                                    <img src="img/franchise/icons/team.svg" alt="icon" />
                                </div>
                                <p>Более 150 000 клиентов сети</p>
                            </div>
                            <div class="item wow fadeInLeft" data-wow-delay="300ms">
                                <div class="bg_item">
                                    <img src="img/franchise/icons/bar-chart.svg" alt="icon" />
                                </div>
                                <p>Узнаваемый и растущий украинский бренд</p>
                            </div>
                            <div class="item wow fadeInRight" data-wow-delay="300ms">
                                <div class="bg_item">
                                    <img src="img/franchise/icons/contract.svg" alt="icon" />
                                </div>
                                <p>Сетевые контракты с поставщиками</p>
                            </div>
                            <img src="img/franchise/grid.png" alt="grid" class="grid_s" />
                            <div class="burger_box wow zoomIn">
                                <img src="img/franchise/burger.png" alt="burger" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="founder">
                <div class="container">
                    <div class="block_description">
                        <p>Привет! На связи Евгений Чернышенко, основатель Юджин
                            Бургер. Сейчас вы на первом этапе знакомства
                            с нашей франшизой. С самого детства я был фанатом
                            бургеров и однажды судьба сошлась так, что я понял, что
                            хочу создать национальную сеть бургерных. И 28 мая 2019
                            этот авантюрный план начал реализовываться, когда был
                            открыт наш исторический, 1-й ресторан Юджин в Киеве.
                        </p>
                        <p>Все знают и любят бургеры, это понятный и популярный
                            продукт. Но мало кто может делать их стабильно быстро,
                            качественно, с таким большим разнообразием меню и по
                            доступной цене. Мы создали систему стандартов, которая
                            позволяет делать бургеры за 5-10 минут с одинаковым
                            качеством и сервисом в любом районе или городе.</p>
                    </div>
                    <img src="img/franchise/founder.png" alt="founder" class="wow zoomInDown" />
                </div>
            </div>
            <div class="block_five">
                <div class="wrapper_block">
                    <div class="container">
                        <div class="left_block">
                            <img class="picture_one wow flipInX" src="img/franchise/mask.png" alt="picture_one" />
                            <img class="picture_two wow flipInY" src="img/franchise/mask_two.png" alt="picture_two" />
                        </div>
                        <div class="right_block">
                            <p>Большой акцент в нашем бизнесе мы уделяем доставке.
                                Все заказы мы доставляем собственными силами, без
                                каких-либо агрегаторов которые убивают имя бренда.
                                Централизованый единый колл-центр обслуживает все
                                точки, а наши курьеры с каждого ресторана ежедневно
                                доставляют за 60 минут радость тысячам наших клиентов.

                            </p>
                            <p> Не смотря на то, что рестораны это офлайн бизнес - в
                                Юджин Бургер мы автоматизируем и оцифровываем все.
                                Сердце нашей сети - облачная ресторанная ERP-система,
                                которая охватывает все аспекты нашего бизнеса. Каждый
                                наш партнер видит более 150 отчетов и показателей по
                                своему ресторану, начиная от контроля себестоимости,
                                заканчивая прогнозом продаж и аналитикой поставок.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block_six">
                <div class="container">
                    <div class="block_text">
                        <p>Чтобы расти и масштабироваться мы используем передовые
                            онлайн технологии. А собственное мобильное приложение
                            вместе с уникальной программой лояльностью внутри этого
                            приложения - позволяют нам радовать бонусами и
                            мотивировать заказывать повторно наших постоянных
                            клиентов, а так же возвращать потерянных клиентов.

                        </p>
                        <p>Наша концепция - формат и скорость выдачи фастфуд, но
                            еда, обслуживание и интерьеры ресторанного качества. Мы
                            создаем вирусный маркетинг, благодаря которому наши же
                            гости деляться в соц. сетях нашими бургерами и привлекают
                            нам новую аудиторию бесплатно. Каждое открытие нового
                            ресторана мы собираем очереди из сотен людей, что сразу
                            формирует новых постоянных клиентов и немного хайпа :)</p>
                    </div>
                    <div class="block_right">
                        <img class="wow fadeInRight" src="img/franchise/phone.png" alt="phone" />
                        <img class="wow fadeInRight" data-wow-delay="200ms" src="img/franchise/screen.png" alt="screen" />
                    </div>
                </div>
            </div>
            <div class="block_seven">
                <div class="wrapper_block">
                    <div class="container">
                        <div class="wrapper-page">
                            <div class="left_block">
                                <img class="picture_one wow flipInY" src="img/franchise/picture_one.png" alt="picture_one" />
                                <img class="picture_two wow flipInX" src="img/franchise/picture_two.png" alt="picture_two" />
                            </div>
                            <div class="right_block">
                                <p>Мы не верим, что бизнес может развиваться без участия
                                    предпринимателя. Если вы надеетесь вложить деньги
                                    и больше никогда не появляться на ресторане — эта
                                    франшиза не для вас. Тогда вам лучше вложить пассивные
                                    инвестиции в один из наших ресторанов или ресторанов наших
                                    франчайзи. У нас франчайзи следят за показателями своего
                                    ресторана, лично проверяют кухню, общаются с клиентами
                                    и держат руку на пульсе. Халявы не будет.

                                </p>
                                <p> Мы не зарабатываем на поставках, и все ретро бонусы и скидки
                                    отдаем франчайзи, чего не делает никто на рынке. Потому что
                                    мы зарабатываем на успехе наших партнеров. В том числе
                                    поэтому у нас никогда не было и не будет цели лишь бы
                                    напродавать нашу франшизу и забить, потому что нам
                                    важна репутация. Мы не ищем просто людей с деньгами, мы
                                    приглашаем к сотрудничеству единомышленников, партнеров,
                                    с кем мы сможем совместно построить успешный бизнес.</p>
                            </div>
                        </div>
                        <button class="button" @click="popupForm = true">ОТПРАВИТЬ ЗАЯВКУ НА ФРАНШИЗУ</button>
                    </div>
                </div>
            </div>
            <div class="fair_term" id="conditions">
                <div class="container">
                    <h2>СПРАВЕДЛИВЫЕ УСЛОВИЯ</h2>
                    <div class="wrapper_page">
                        <div class="item wow bounceInDown" data-wow-delay="00ms">
                            <img src="img/franchise/check-mark.png" alt="icon_check" />
                            <div class="right_wrapper">
                                <h3>Паушальный взнос:</h3>
                                <p ><span class="line-throw">$20 000</span> <span class="color">$15 000</span></p>
                                <p class="gray_text">для первых 10 франчайзи</p>
                            </div>
                        </div>
                        <div class="item wow bounceInDown" data-wow-delay="100ms">
                            <img src="img/franchise/check-mark.png" alt="icon_check" />
                            <div class="right_wrapper">
                                <h3>Открытие ресторана:</h3>
                                <p>От $50 000 до $100 000 исходя
                                    из формата</p>
                            </div>
                        </div>
                        <div class="item wow bounceInDown" data-wow-delay="200ms">
                            <img src="img/franchise/check-mark.png" alt="icon_check" />
                            <div class="right_wrapper">
                                <h3>Ежемесячные роялти:</h3>
                                <p>4% + НДС</p>
                            </div>
                        </div>
                        <div class="item wow bounceInDown" data-wow-delay="300ms">
                            <img src="img/franchise/check-mark.png" alt="icon_check" />
                            <div class="right_wrapper">
                                <h3>Маркетинговый сбор:</h3>
                                <p>1%</p>
                            </div>
                        </div>
                        <div class="item wow bounceInDown" data-wow-delay="400ms">
                            <img src="img/franchise/check-mark.png" alt="icon_check" />
                            <div class="right_wrapper">
                                <h3>Скидки от поставщиков:</h3>
                                <p>100%</p>
                            </div>
                        </div>
                        <div class="item wow bounceInDown" data-wow-delay="500ms">
                            <img src="img/franchise/check-mark.png" alt="icon_check" />
                            <div class="right_wrapper">
                                <h3>Плановая рентабельность:</h3>
                                <p>15-25%</p>
                            </div>
                        </div>
                        <div class="item wow bounceInDown" data-wow-delay="600ms">
                            <img src="img/franchise/check-mark.png" alt="icon_check" />
                            <div class="right_wrapper">
                                <h3>Срок окупаемости:</h3>
                                <p>1-2 года</p>
                            </div>
                        </div>
                        <div class="item wow bounceInDown" data-wow-delay="700ms">
                            <img src="img/franchise/check-mark.png" alt="icon_check" />
                            <div class="right_wrapper">
                                <h3>Срок открытия ресторана:</h3>
                                <p>1-3 месяца</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="franchise_selection_criteria">
                <div class="container">
                    <h2>КРИТЕРИИ ОТБОРА ФРАНЧАЙЗИ</h2>
                    <div class="wrapper_items">
                        <div class="item wow flipInX" data-wow-delay="00ms">
                            <div class="bg_icon">
                                <img src="img/franchise/icons/gavel.svg" alt="icon" >
                            </div>
                            <p>Отсутствие судимости
                                и связей с криминалом</p>
                        </div>
                        <div class="item wow flipInX" data-wow-delay="00ms">
                            <div class="bg_icon">
                                <img src="img/franchise/icons/food-serving.svg" alt="icon" >
                            </div>
                            <p>Отсутствие схожего бизнеса
                                с бургерами</p>
                        </div>
                        <div class="item wow flipInX" data-wow-delay="100ms">
                            <div class="bg_icon">
                                <img src="img/franchise/icons/certificate.svg" alt="icon" >
                            </div>
                            <p>Возраст, образование,
                                пол - не имеет значения
                            </p>
                        </div>
                        <div class="item wow flipInX" data-wow-delay="100ms">
                            <div class="bg_icon">
                                <img src="img/franchise/icons/briefcase.svg" alt="icon" >
                            </div>
                            <p>Наличие опыта в сфере общепита
                                не обязательно</p>
                        </div>
                    </div>
                </div>
                <div class="wrapper_text">
                    <div class="container">
                        <p>Мы рассматриваем партнеров франчайзи как в Киеве, где большой потенциал и много новых районов для открытия.
                            Так и в любом городе Украины или зарубежья с населением от 100 тысяч жителей. Если в вашем городе менее 100
                            тысяч жителей - мы готовы рассмотреть с вами потенциал и возможность такого открытия в индивидуальном порядке.</p>
                    </div>
                </div>
            </div>
            <div class="block_slider" id="formats">
                <div class="wrapper_slider">
                    <div class="container">
                        <h2>ФОРМАТЫ РЕСТОРАНОВ</h2>
                        <div class="nav_slider">
                            <button class="prev" onclick="prev()"><img src="/img/franchise/icons/arrow.svg" alt="" /></button>
                            <div class="num">
                                <div class="">01</div>
                                <span></span>
                                <div class="active">0{{ document.querySelectorAll('.slider .slide').length }}</div>
                            </div>
                            <button class="next active" onclick="next()"><img src="/img/franchise/icons/arrow.svg" alt="" /></button>
                        </div>
                        <div class="slider">
                            <div class="slide">
                                <img src="img/franchise/slide_one.png" alt="slide 1" />
                                <h3>На фудкорте в ТРЦ</h3>
                                <p class="strong">Площадь 40-60 кв. метров
                                    Инвестиции от 40 000 $
                                    + Паушальный взнос</p>
                                <p>Ресторан в зоне Food-Court в торговом центре:
                                    это когда вы открываете только кухню без своей
                                    посадки и работаете наряду с другими
                                    заведениями в зале с общей посадкой от ТРЦ</p>
                            </div>
                            <div class="slide">
                                <img src="img/franchise/slide_two.png" alt="slide 2" />
                                <h3>Фасадный ресторан</h3>
                                <p class="strong">Площадь 120-200 кв. метров
                                    Инвестиции от 80 000 $
                                    + Паушальный взнос</p>
                                <p>Фасадный ресторан отличается от фудкорта
                                    собственным залом со своей посадкой. Может
                                    располагаться на 1 этаже в любом здании либо
                                    быть на фасаде ТРЦ или супермаркета.</p>
                            </div>
                            <div class="slide">
                                <img src="img/franchise/3.png" alt="slide 3" />
                                <h3>Юджин драйв</h3>
                                <p>Новый, экспериментальный но очень перспективный формат, который мы хотим в будущем внедрить в нашу сеть. Пока на наших собственных ресторанах такого формата еще нет и мы его не протестировали - франшизу с ним особо не афишируем.

                                    Но если у вас потенциально есть помещение как отдельно стоящее здание вблизи дороги и автомобильного трафика - мы готовы на выгодных условиях протестировать вместе с вами наш новый формат: Ресторан + Юджин Драйв</p>
                            </div>
                        </div>
                        <button class="button" @click="popupForm = true">ОТПРАВИТЬ ЗАЯВКУ НА ФРАНШИЗУ</button>
                    </div>
                </div>

            </div>
            <div class="seven_steps_to_discover" id="seven_steps">
                <div class="container">
                    <h2>7 ШАГОВ К ОТКРЫТИЮ ВАШЕГО ЮДЖИНА</h2>
                    <div class="wrapper_columns">
                        <img src="img/franchise/line.png" alt="line" class="line">
                        <div class="bg_burger">
                            <img src="img/franchise/burger_logo.png" alt="burger" />
                        </div>
                        <div class="item">
                            <div class="block_text wow fadeInLeft">
                                <h4>ЗНАКОМСТВО С ФРАНШИЗОЙ И ВОЗМОЖНОСТЯМИ</h4>
                                <p>После ознакомления с сайтом и основной информацией на нем,
                                    вы отправляете заявку на франшизу. После заявки вы заполняете
                                    небольшую вступительную анкету с основной информацией. Далее
                                    наш специалист связывается с вами и консультирует вас по всем
                                    интересующим вопросам, на созвоне либо на персональной встрече</p>
                            </div>
                            <div class="border_one">
                                <div class="border_two">
                                    <div class="border_three">
                                        <div class="bg_number">01</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block_text wow fadeInRight">
                                <h4>СОГЛАСОВАНИЕ И ПОДПИСАНИЕ ДОГОВОРА</h4>
                                <p>Согласовываем условия франшизного договора, при необходимости
                                    проводим дополнительные встречи и персональные просчеты под ваш
                                    обьект для понимания общей сметы и расходов. Подписываем договор
                                    и оплачиваете паушальный взнос для старта работ.
                                </p>
                            </div>
                            <div class="border_one">
                                <div class="border_two">
                                    <div class="border_three">
                                        <div class="bg_number">02</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block_text wow fadeInLeft">
                                <h4>СТАРТ ВСЕХ ПРОЕКТОВ И ПОИСК ПОМЕЩЕНИЯ</h4>
                                <p>Начинаем поиск локации, что является самым важным для старта всех
                                    остальных работ. Помогаем вам с поиском и утверждением
                                    помещения. После подписания договора аренды стартуем всю
                                    проектную документацию которую для вас делают проверенные
                                    специалисты Юджин, а так же составляем план запуска ресторана.</p>
                            </div>
                            <div class="border_one">
                                <div class="border_two">
                                    <div class="border_three">
                                        <div class="bg_number">03</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block_text wow fadeInRight">
                                <h4>СТРОЙКА И СОГЛАСОВАНИЕ ДОКУМЕНТАЦИИ</h4>
                                <p>Привлекаем для стройки и ремонта ваших либо наших подрядчиков,
                                    утверждаем и проверяем команду строителей. Начинается процесс
                                    стройки, помогаем контролировать все процессы и график работ.
                                    Параллельно идет процесс подачи и согласования всех лицензий,
                                    санэпидем служб, подписываются все договора с поставщиками. </p>
                            </div>
                            <div class="border_one">
                                <div class="border_two">
                                    <div class="border_three">
                                        <div class="bg_number">04</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block_text wow fadeInLeft">
                                <h4>ОБУЧЕНИЕ, КОНСУЛЬТАЦИИ И СЕРТИФИКАЦИЯ</h4>
                                <p>Вы как франчайзи проходите обязательное обучение вместе со своим
                                    управляющим, чтобы понимать все аспекты ведения нашего бизнеса.
                                    Так же вы получаете доступ к Академии Юджин Бургер, онлайн
                                    платформе, где собраны различные курсы и база знаний из разных
                                    документов для того, чтобы ускорить развитие вашей точки.</p>
                            </div>
                            <div class="border_one">
                                <div class="border_two">
                                    <div class="border_three">
                                        <div class="bg_number">05</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block_text wow fadeInRight">
                                <h4>НАЙМ КОМАНДЫ И ПОДГОТОВКА К ЗАПУСКУ</h4>
                                <p>За 1-2 недели до открытия вы или ваш управляющий начинаете
                                    набирать сотрудников в команду. После чего часть команды едет на
                                    стажировку на пару дней в Киев в один из ресторанов. Параллельно
                                    заканчивается ремонт, закупается все оборудование, вешается
                                    вывеска, помогаем с последними приготовлениями для открытия.
                                </p>
                            </div>
                            <div class="border_one">
                                <div class="border_two">
                                    <div class="border_three">
                                        <div class="bg_number">06</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block_text wow fadeInLeft">
                                <h4>ТЕХНИЧЕСКОЕ ОТКРЫТИЕ РЕСТОРАНА</h4>
                                <p>День Х настал. Ваш ресторан открывается в техническом режиме, при
                                    открытии обязательно находится минимум 1 специалист с нашей
                                    управляющей компании для поддержки и помощи в первые дни. В
                                    таком режиме вы работаете от 3 дней до 2 недель, чтобы спокойно
                                    привыкнуть к работе и подготовится к официальному открытию.</p>
                            </div>
                            <div class="border_one">
                                <div class="border_two">
                                    <div class="border_three">
                                        <div class="bg_number">07</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="button" @click="popupForm = true">ОТПРАВИТЬ ЗАЯВКУ НА ФРАНШИЗУ</button>
                </div>
            </div>
            <div class="how_do_our">
                <div class="container">
                    <h2>КАК ПРОХОДЯТ НАШИ ОТКРЫТИЯ</h2>
                    <div class="item">
                        <p>Масштабное открытие вашего ресторана с шариками,
                            ведущим, подарками, конкурсами и сотнями довольных
                            гостей пришедших специально, чтобы попробовать в
                            вашем заведении сочные бургеры и весело провести
                            время. Все друзья, знакомые и родственники будут
                            гордится, поздравлять и радоваться открытию вместе
                            с вами. А большинство жителей района или же города
                            узнают о том, что ваш Юджин Бургер теперь открылся.</p>
                        <img src="img/franchise/people_team.png" alt="people" />
                    </div>
                    <div class="wrapper_video">
                        <div class="item wow fadeInLeft">
                            <a data-fancybox href="https://www.youtube.com/watch?v=6UBRFq8akdM&feature=youtu.be" class="video">
                            <span class="play">
                                <img class="arrow_play" src="img/franchise/play-button-arrow.png" alt="arrow">
                            </span>
                                <img class="video_banner" src="//img.youtube.com/vi/6UBRFq8akdM/sddefault.jpg" alt="banner video">
                            </a>
                            <p>Официальное открытие 1-й франшизы
                                Юджин Бургер и 7-го по счету ресторана сети</p>
                        </div>
                        <div class="item wow fadeInRight">
                            <a data-fancybox href="https://www.youtube.com/watch?v=hHoa2Q7vBwA&feature=youtu.be" class="video">
                            <span class="play">
                                <img class="arrow_play" src="img/franchise/play-button-arrow.png" alt="arrow">
                            </span>
                                <img class="video_banner" src="//img.youtube.com/vi/hHoa2Q7vBwA/sddefault.jpg" alt="banner video">
                            </a>
                            <p>Официальное открытие 1-го ресторана сети
                                Юджин Бургер на Вокзальной в Киеве</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="want_block">
                <div class="wrapper_block">
                    <div class="container">
                        <h2>Хотели бы так же?</h2>
                        <button class="button" @click="popupForm = true">ОТПРАВИТЬ ЗАЯВКУ НА ФРАНШИЗУ</button>
                        <img src="img/franchise/icons/arrow_down.svg" alt="arrow" class="arrow_down">
                    </div>
                </div>
            </div>
            <div class="exclusive_parthner" id="privilege_parthners">
                <div class="container">
                    <h2>СТАВ НАШИМ ПАРТНЕРОМ,
                        ВЫ ЭКСКЛЮЗИВНО ПОЛУЧАЕТЕ
                    </h2>
                    <div class="wrapper_items">
                        <div class="item wow fadeIn" data-wow-delay="00ms">
                            <div class="bg_icon">
                                <img src="img/franchise/icons/laptops.svg" alt="icon" />
                            </div>
                            <p>Подключение к нашей
                                IT-системе для работы
                                и управления точкой</p>
                        </div>
                        <div class="item wow fadeIn" data-wow-delay="100ms">
                            <div class="bg_icon">
                                <img src="img/franchise/icons/computers.svg" alt="icon" />
                            </div>
                            <p>Добавление ресторана на
                                наш официальный сайт и
                                в мобильное приложения</p>
                        </div>
                        <div class="item wow fadeIn" data-wow-delay="200ms">
                            <div class="bg_icon">
                                <img src="img/franchise/icons/customer-services.svg" alt="icon" />
                            </div>
                            <p>Ежедневную поддержку по
                                любым вопросам от нашей
                                команды центрального офиса</p>
                        </div>
                        <div class="item wow fadeIn" data-wow-delay="300ms">
                            <div class="bg_icon">
                                <img src="img/franchise/icons/documents.svg" alt="icon" />
                            </div>
                            <p>Выгодные сетевые контракты от
                                поставщиков с самыми низкими
                                ценами и 100% ретро бонусами
                            </p>
                        </div>
                        <div class="item wow fadeIn" data-wow-delay="400ms">
                            <div class="bg_icon">
                                <img src="img/franchise/icons/line-charts.svg" alt="icon" />
                            </div>
                            <p>Подключение точки к удобному
                                дашборду на вашем телефоне для
                                аналитики показателей ресторана</p>
                        </div>
                        <div class="item wow fadeIn" data-wow-delay="500ms">
                            <div class="bg_icon">
                                <img src="img/franchise/icons/bonuses.svg" alt="icon" />
                            </div>
                            <p>Активацию вашего
                                ресторана в нашей
                                бонусной программе</p>
                        </div>
                        <div class="item wow fadeIn" data-wow-delay="600ms">
                            <div class="bg_icon">
                                <img src="img/franchise/icons/calculation.svg" alt="icon" />
                            </div>
                            <p>Помощь с выбором локации,
                                подсчетом сметы, помощь в
                                юридических вопросах и т.д.</p>
                        </div>
                        <div class="item wow fadeIn" data-wow-delay="700ms">
                            <div class="bg_icon">
                                <img src="img/franchise/icons/live-chats.svg" alt="icon" />
                            </div>
                            <p>Подключение к нашему единому
                                колл-центру, который будет сам
                                принимать и отправлять вам все
                                заказы на доставку и самовывоз
                            </p>
                        </div>
                        <div class="item wow fadeIn" data-wow-delay="800ms">
                            <div class="bg_icon">
                                <img src="img/franchise/icons/promotions.svg" alt="icon" />
                            </div>
                            <p>Маркетинговую поддержку
                                перед и после открытия, все
                                материалы для продвижения</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buisnes_block">
                <div class="container">
                    <h2>ВЕДЕМ БИЗНЕС ОТКРЫТО И ПУБЛИЧНО</h2>
                    <div class="wrapper_block">
                        <div class="left_block">
                            <p>Юджин Бургер необычная компания. С первого дня запуска проекта
                                наш основатель решил полностью открыто вести бизнес и завел блог
                                в Telegram, где регулярно рассказывает и делится с подписчиками о
                                том, как мы растем, развиваемся, какие факапы и сложности случаются
                                и как они преодолеваются. Блог не коммерческий, в нем нет никакой
                                рекламы, поэтому люди с интересом подписываются и следят за нами.
                                Открытость позволяет нам всегда держать на уровне свою репутацию,
                                повышать узнаваемость, а так же быстро привлекать фанатов бренда,
                                крутых сотрудников, инвесторов и партнеров франчайзи, которые с
                                энтузиазмом присоединяются к нашей компании и нашей истории.
                            </p>
                            <a href="https://t.me/chernyshenko_blog" target="_blank" class="button">ПОДПИСАТЬСЯ НА БЛОГ</a>
                            <img class="wow zoomInLeft" src="img/franchise/arrow-left.svg" alt="arrow" />
                        </div>
                         <a href="https://t.me/chernyshenko_blog" target="_blank"><img src="img/franchise/view_tl.png" alt="view" ></a>
                    </div>
                </div>
            </div>
            <div class="gallery">
                <div class="container">
                    <h2>СОЗДАЙТЕ ИСТОРИЮ ВМЕСТЕ С НАМИ</h2>
                    <div class="top">
                        <img data-fancybox="1" href="/img/franchise/gallery/big/rectangle76.png" src="/img/franchise/gallery/rectangle76.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/rectangle77.png" src="/img/franchise/gallery/rectangle77.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/rectangle78.png" src="/img/franchise/gallery/rectangle78.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/rectangle81.png" src="/img/franchise/gallery/rectangle81.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/rectangle79.png" src="/img/franchise/gallery/rectangle79.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/rectangle80.png" src="/img/franchise/gallery/rectangle80.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/rectangle82.png" src="/img/franchise/gallery/rectangle82.png" alt="" />
                        <div></div>
                        <img data-fancybox="1" href="/img/franchise/gallery/big/rectangle88.png" src="/img/franchise/gallery/rectangle88.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/rectangle83.png" src="/img/franchise/gallery/rectangle83.png" alt="" />
                        <div></div>
                        <img data-fancybox="1" href="/img/franchise/gallery/big/rectangle87.png" src="/img/franchise/gallery/rectangle87.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/rectangle89.png" src="/img/franchise/gallery/rectangle89.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/rectangle84.png" src="/img/franchise/gallery/rectangle84.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/rectangle85.png" src="/img/franchise/gallery/rectangle85.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/rectangle86.png" src="/img/franchise/gallery/rectangle86.png" alt="" />
                    </div>
                    <div class="bottom">
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image2.png" src="/img/franchise/gallery/image2.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image3.png" src="/img/franchise/gallery/image3.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image4.png" src="/img/franchise/gallery/image4.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image5.png" src="/img/franchise/gallery/image5.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image6.png" src="/img/franchise/gallery/image6.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image7.png" src="/img/franchise/gallery/image7.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image8.png" src="/img/franchise/gallery/image8.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image9.png" src="/img/franchise/gallery/image9.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image10.png" src="/img/franchise/gallery/image10.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image11.png" src="/img/franchise/gallery/image11.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image12.png" src="/img/franchise/gallery/image12.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image13.png" src="/img/franchise/gallery/image13.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image14.png" src="/img/franchise/gallery/image14.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image15.png" src="/img/franchise/gallery/image15.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image16.png" src="/img/franchise/gallery/image16.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image17.png" src="/img/franchise/gallery/image17.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image18.png" src="/img/franchise/gallery/image18.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image19.png" src="/img/franchise/gallery/image19.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image20.png" src="/img/franchise/gallery/image20.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image21.png" src="/img/franchise/gallery/image21.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image22.png" src="/img/franchise/gallery/image22.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image23.png" src="/img/franchise/gallery/image23.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image24.png" src="/img/franchise/gallery/image24.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image25.png" src="/img/franchise/gallery/image25.png" alt="" />
                        <img data-fancybox="1" href="/img/franchise/gallery/big/image26.png" src="/img/franchise/gallery/image26.png" alt="" />
                    </div>
                    <button class="button" @click="popupForm = true">ОТПРАВИТЬ ЗАЯВКУ НА ФРАНШИЗУ</button>
                </div>
            </div>
        </main>
        <footer  id="footer">
            <div class="footer_nav">
                <div class="container">
                    <nav class="nav">
                        <ul class="menu">
                            <li>
                                <a href="#about_the_network">О сети</a>
                            </li>
                            <li>
                                <a href="#conditions">Условия</a>
                            </li>
                            <li>
                                <a href="#formats">Форматы</a>
                            </li>
                            <li>
                                <a href="#seven_steps">7 Шагов к открытию </a>
                            </li>
                            <li>
                                <a href="#privilege_parthners">Привилегии партнерам</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </footer>
        <transition name="fade">
            <div class="popup_form" @click.self="popupForm = false" :class="popupForm ? 'visible' : ''">
                <div @click.stop="" class="wrapper">
                    <div class="close" @click="popupForm = false"></div>
                    <div class="logo">
                        <img src="img/investments/popup/logo.png" alt="logo" />
                    </div>
                    <form class="form" @submit.prevent="formSubmit" id="form">
                        <label>
                            <span>Ваше имя и фамилия</span>
                            <input v-model="form.name" required minlength="5" id="name_surname" name="name" type="text" placeholder="Ваше имя и фамилия">
                            <div class="check"></div>
                        </label>
<!--                        <label for="field_of_activity">
                            <span>Сфера деятельности</span>
                            <input required minlength="5" id="field_of_activity" name="field_of_activity" type="text" placeholder="Сфера деятельности">
                            <div class="check"></div>
                        </label>-->
                        <label>
                            <span>Контактный номер</span>
                            <input v-model="form.tel" required pattern="[+380]\d{12}" name="tel" type="tel" placeholder="Контактный номер" value="+380">
                            <div class="check"></div>
                        </label>
                        <label>
                            <span>Город/города, в которых
                            хотите открыть ресторан</span>
                            <input v-model="form.city" required minlength="5" name="city" type="text" placeholder="Город/города, в которых хотите открыть ресторан">
                            <div class="check"></div>
                        </label>
                        <label for="mail">
                            <span>Ваша email для связи</span>
                            <input v-model="form.email" required minlength="5" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" id="mail" name="email" type="email" placeholder="Ваша email для связи">
                            <div class="check"></div>
                        </label>
                        <label for="fb_ins">
								<span>Ссылка на профиль на
									Facebook / Instagram</span>
                            <input v-model="form.link" required minlength="5" id="fb_ins" name="fb_ins" type="text" placeholder="Ссылка на профиль на Facebook / Instagram">
                            <div class="check"></div>
                        </label>
<!--                        <label class="textarea">
                            <span>Напишите, почему нам должно быть интересно партнерство с вами</span>
                            <textarea name="comment" placeholder="Ваш комментарий к заявке"></textarea>
                        </label>-->
                        <div class="buttonText">
                            <button class="button" type="submit">Отправить заявку</button>
                            <p>Ваша 100% конфиденциальность.
                                Мы не передаем данные 3-м лицам</p>
                        </div>
                    </form>
                </div>
            </div>
        </transition>
    </div>



    <script src="js/jquery.min.js"></script>
    <script src="js/ajax.min.js"></script>
    <script src="js/ajax-jquery.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/jquery.parallax-scroll.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/jquery.maskedinput.min.js"></script>
    <script src="js/main.js"></script>
    <script src="/js/slick.min.js"></script>
    <script type="text/javascript">
        let $page = $('html, body');
        $('a[href*="#"]').click(function() {
            $('.mobile-menu').removeClass('active')
            $page.animate({
                scrollTop: $($.attr(this, 'href')).offset().top - $('#header').height()
            }, 400);
            return false;
        });
        $('header .burger_menu').click(function () {
            $('.mobile-menu').addClass('active')
        });

        $('.mobile-menu .close_burger').click(function () {
            $('.mobile-menu').removeClass('active')
        })


        let slider = $('.slider')
        slider.slick({
            infinite: false,
            slidesToShow: 2,
            slidesToScroll: 2,
            arrows: false,
            responsive: [
                {
                    breakpoint: 1023,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                    }
                }
            ]
        }).on('beforeChange', function(event, slick, currentSlide, nextSlide){
            $('.nav_slider .num div:first-of-type').text('0' + (nextSlide + 1));
            if (nextSlide === document.querySelectorAll('.slider .slide').length - 1) {
                $('.nav_slider button:last-of-type').removeClass('active')
                $('.nav_slider button:first-of-type').addClass('active')
                $('.nav_slider .num div:last-of-type').removeClass('active')
                $('.nav_slider .num div:first-of-type').addClass('active')
            } else if (nextSlide === 0) {
                $('.nav_slider button:first-of-type').removeClass('active')
                $('.nav_slider button:last-of-type').addClass('active')
                $('.nav_slider .num div:first-of-type').removeClass('active')
                $('.nav_slider .num div:last-of-type').addClass('active')
            } else {
                $('.nav_slider button:last-of-type').addClass('active')
                $('.nav_slider .num div:last-of-type').addClass('active')
                $('.nav_slider button:first-of-type').addClass('active')
                $('.nav_slider .num div:first-of-type').addClass('active')
            }
        });
        function next() {
            slider.slick('slickNext')
        }
        function prev() {
            slider.slick("slickPrev")
        }

    </script>
</body>
</html>