<div id="menu">
    <div class="container">
        <nav :class="fixed ? 'fixed' : ''">
            <div class="container">
                <div class="bg" :style="'transform: translateX(' + 100 * active + '%)'"></div>
                <ul>
                    <li v-for="(text, name, i) in nav" :class="i === active ? 'active' : i < active ? 'prev' : false"><a :href="'#' + name" @click="scrollTo($event, name)">{{text}}</a></li>
                </ul>
            </div>
        </nav>
        <div class="holder-item" :id="name" :ref="name" v-for="(type, name, index) in menu">
            <h2 v-if="name !== 'burger'">{{ nav[name] }}</h2>
            <div class="item" v-for="(item, index) in type" @click="excluded(name, item, $event) ? bigCard($event, item, name, index) : false">
                <div class="img">
                    <img :class="smallImgSize(item) ? 'small' : ''" :src="'img/menu/'+name+'/' + item.name.toLowerCase() + '.png'" alt=""/>
                </div>
                <div class="information">
                    <p class="name">{{item.name}}</p>
                    <p class="description">{{item.description}}</p>
                    <div class="footer">
                        <p class="price">{{item.price}}
                            <span>грн</span>
                        </p>
                        <div class="info" @click="openInfoMobile($event.currentTarget)" @mouseover.self="openInfo($event.currentTarget)" @mouseleave.self="closeInfo($event.currentTarget)" v-if="item.info">
                            i
                            <div class="open">
                                <div class="text">
                                    <p>Вес</p>
                                    <p>{{item.info.weight}} г</p>
                                </div>
                            </div>
                        </div>
                        <button class="button small addToCard" @click="(name !== 'snack' && name !== 'burger' || item.name === 'ГАМБУРГЕР' || item.name === 'Чизбургер') ? addToCard(item, name, index) : false">
                            <img src="img/svg/shopping-basket.svg" alt="" />
                            В корзину
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup_item" v-if="popup">
            <div class="container">
                <div class="left">
                    <div class="title">
                        <div class="text">
                            <p class="name">{{popup.name}}</p>
                            <div class="description">{{popup.description}}</div>
                        </div>
                        <div class="weight"><img src="/img/menu/food-scale-tool%20(1).png" alt="" />{{ popup.info.weight }} г</div>
                    </div>
                    <div class="img">
                        <img :src="popup.url" alt="" />
                    </div>
                </div>
                <div class="right" :id="popup.type">
                    <div class="close" @click="popup = false"></div>
                    <p class="title">{{popup.type === 'burger' ? 'Добавить к бургеру:' : 'Добавить соус:'}}</p>
                    <div class="item-holder">
                        <div class="item" v-for="(item, index) in openItem[popup.type]">
                            <img :src="'/img/menu/open-item/' + popup.type + '/' + (index + 1) +'.png'" alt="" @load="widthHeight($event.currentTarget)"/>
                            <div class="footer">
                                <div class="text">
                                    <p class="name">{{ item.name }}</p>
                                    <p class="price">{{ item.price }} <span>грн</span></p>
                                </div>
                                <button @click="addMore($event.currentTarget, item, index)"></button>
                            </div>
                            <div class="info" @click="openInfoMobile($event.currentTarget)" @mouseover.self="openInfo($event.currentTarget)" @mouseleave.self="closeInfo($event.currentTarget)" v-if="item.weight">
                                i
                                <div class="open">
                                    <div class="text">
                                        <p>Вес</p>
                                        <p>{{item.weight}} г</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="button" @click="addToCard(popup, popup.type); popup = false">
                        <img src="/img/svg/shopping-basket.svg" alt="" />
                        Добавить в корзину за {{ popup.price }} грн
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
